In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

# display settings
from IPython.display import display
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.set_option('display.float_format', lambda x: '%.4f' % x)
np.set_printoptions(precision=2, suppress=True)

In [51]:
np.random.seed(2022)
jNum = np.random.randint(1, 300, 1000)
np.random.seed(2022)
mNum = np.random.randint(1, 20, 1000)
# print(jNum, mNum, jNum / mNum)
(jNum / mNum <= 50).sum()

861

In [56]:
processing_time_1 = []
processing_time_2 = []
due_time = []
stage1_machines = []
stage2_machines = []
testcase_count = 0

for i in range(len(jNum)):
    
    if (jNum[i] / mNum[i] > 50):
        continue
    
    np.random.seed(2022)
    pt1 = np.random.randint(1, 100, jNum[i]) / 10
    
    np.random.seed(2022)
    pt2 = (np.random.randint(0, 140, jNum[i])) / 10 - 4
    
    # make nan probability larger
    pt2[pt2 < 0] = 0
    
    # positive correlation between processing time and due time + error
    # try to lower the possibility of doomed-to-be tardy jobs
    np.random.seed(2022)
    d1 = (pt1 + pt2) * 1.2 + np.random.randn(jNum[i]) * 5 + 2
    d1 = d1.round(decimals=1)
    
    # upper and lower bound
    d1[d1 < 1] = 1
    d1[d1 > 24] = 24
    
    # overworked
    if (sum(pt1 + pt2) > 3 * mNum[i] * 24):
        continue
    
    # too many doomed tardy jobs
    if (sum(pt1 + pt2 > d1) > jNum[i] * 0.2):
        continue
    
#     print("d1", d1)
#     print("job num:", t1[i])
#     print("less than:", sum(pt1 + pt2 > d1))
#     print("operation time:", m1[i] * 24)
#     print("due time:", sum(d1))
#     print("process time:", sum(pt1 + pt2))
    
#     plt.scatter(pt1 + pt2, d1)
#     plt.xlabel("total processing time")
#     plt.ylabel("due time");
#     plt.show()
    
    processing_time_1.append(pt1)
    processing_time_2.append(pt2)
    due_time.append(d1)
    
    # machine
    st1_restrict = []
    st2_restrict = []
    for j in range(jNum[i]):
        
        np.random.seed(j)
        # use set to make sure numbers are unique / faster "in" operation latter
        tmp1 = set(np.random.randint(1, jNum[i], int(jNum[i] / 4)))
        st1_restrict.append(tmp1)
        
        np.random.seed(j)
        tmp2 = set(np.random.randint(1, jNum[i], int(jNum[i] / 2)))
        st2_restrict.append(tmp2)
#     print("st1", st1_restrict)
#     print("st2", st2_restrict)
    
    st1_machines = []
    for j in range(jNum[i]):
        st1_machines_tmp = ""
        for m in range(1, mNum[i] + 1):
            if (m not in st1_restrict[j]):
                st1_machines_tmp += str(m) + ","
        st1_machines_tmp = st1_machines_tmp.rstrip(",")
        st1_machines.append(st1_machines_tmp)
#     print("st1 machines", st1_machines)
    
    
    st2_machines = []
    for j in range(jNum[i]):
        st2_machines_tmp = ""
        for m in range(1, mNum[i] + 1):
            if (m not in st2_restrict[j]):
                st2_machines_tmp += str(m) + ","
        st2_machines_tmp = st2_machines_tmp.rstrip(",")
        st2_machines.append(st2_machines_tmp)
#     print("st2 machines", st2_machines)
    
    stage1_machines.append(st1_machines)
    stage2_machines.append(st2_machines)
    testcase_count += 1
    
print(testcase_count)

153

In [60]:
if os.getcwd() != '/Users/wangyanpu/Desktop/台灣大學/大三下/作業研究/case/Case2/testcase':
    os.chdir('/Users/wangyanpu/Desktop/台灣大學/大三下/作業研究/case/Case2/testcase')
if not os.path.exists('testcases-medium'):
    os.makedirs('testcases-medium')

os.chdir("testcases-medium")
os.getcwd()

'/Users/wangyanpu/Desktop/台灣大學/大三下/作業研究/case/Case2/testcase/testcases-medium'

In [61]:
for i in range(testcase_count):
    print(len(df))
    df = pd.DataFrame(due_time[i], columns=["Due Time"])
    df["Stage-1 Processing Time"] = processing_time_1[i]
    df["Stage-2 Processing Time"] = processing_time_2[i]
    df["Stage-1 Machines"] = stage1_machines[i]
    df["Stage-2 Machines"] = stage2_machines[i]
    df.index = np.arange(1, len(df) + 1)
    df.index.names = ['Job ID']
    
    
    no_stage2 = (df["Stage-2 Processing Time"] == 0)
    df.loc[no_stage2, "Stage-2 Machines"] = np.nan  
    display(df)
    
    df.to_csv("instance " + str(i + 1) + ".csv")

print("generated %d cases" %(testcase_count))

31

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17,18,19","2,3,6,9,11,12,14,15,17,18,19"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15,16,17,18,19","2,3,4,5,7,8,11,14,15,17,18,19"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15,17,18,19","1,2,4,5,6,7,10,11,13,15,17,18,19"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18,19",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17,18,19",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14,17,18,19","1,2,3,6,11,12,13,14,18,19"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14,15,16,17,18,19","1,3,5,6,7,8,9,12,13,15,18,19"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15,17,18,19",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,9,11,12,13,14,15,16,17,19",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,10,11,12,13,14,15,16,17,19",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,17,18,19","2,3,4,6,7,8,11,12,13,14,15,19"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11,12,15,16,19","3,4,5,6,7,9,10,11,12,15,16,19"
13,10.1000,1.2000,0.8000,"1,2,4,5,6,8,9,10,11,13,14,15,16,17,19","1,2,5,6,8,9,10,11,14,15,16,19"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15,16,18,19","1,2,5,6,8,9,10,12,14,16,18,19"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15,16,17,18,19","1,2,3,4,5,6,10,15,16,18,19"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15,16,17,18,19",NaN
17,24.0000,4.9000,9.9000,"1,3,4,5,7,8,9,11,12,13,14,16,17,18,19","3,4,7,8,9,11,12,13,14,16,18,19"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,17,19","1,2,3,4,6,9,10,11,12,15,19"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17,19","1,2,4,5,7,8,10,12,13,14,16,17,19"

19

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17","2,3,6,7,9,11,12,14,15,17"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17","3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,16,17","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15,17",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17","1,2,5,8,9,10,11,14,15,16"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15,16","1,2,5,6,8,9,10,12,14,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15,16,17","1,2,3,4,5,6,10,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15,16,17",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17","3,4,7,8,9,11,12,13,14,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13,14,16,17",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13,14,15,17","2,5,6,7,11,13,14,15,17"
22,23.9000,9.4000,4.7000,"1,2,3,6,7,8,9,11,12,13,14,15","1,2,6,7,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15,16,17","2,3,4,6,8,10,11,14,15,16,17"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,14,15,16,17","1,2,3,4,5,6,11,12,15,16,17"
25,1.0000,1.2000,0.0000,"2,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN

25

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7,8,9,10,11,12","2,3,5,7,9,11,12"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,12","2,3,4,5,7,8,11,12"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,8,10,11,12","1,2,4,5,6,10,11,12"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8,12",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12","2,3,5,6,8,11,12"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12","1,2,3,6,7,8,9,12"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,10,11,12",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,10,11,12",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12","3,4,6,7,8,9,11,12"
12,1.0000,2.8000,5.4000,"3,4,5,6,7,8,9,11,12","3,4,5,6,7,9,11,12"

12

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7,8,9,10,11,12,14,15,16,17","2,3,5,7,9,11,14,15,16,17"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15,16,17","2,3,4,5,7,8,11,14,15,16,17"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,8,10,11,12,13,15,16,17","1,2,4,5,6,8,10,11,13,15,16,17"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13,14,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,16,17","2,3,5,6,8,11,12,13,16,17"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,12,13,14,15,16,17","2,3,6,7,8,9,12,13,15,16,17"
8,6.7000,1.7000,0.0000,"1,2,3,6,8,9,11,12,13,14,15,16,17",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11,12,14,16,17",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,15,16,17","3,4,6,7,8,9,11,15,16,17"
12,1.0000,2.8000,5.4000,"3,4,5,6,7,8,9,11,13,14,15,16,17","3,4,5,6,7,9,11,15,16,17"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13,15,16,17","1,5,6,8,9,10,11,13,15,16,17"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13,14,15,16,17","2,4,6,8,9,12,13,14,15,16,17"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11,14,15,16,17","1,2,3,4,5,6,14,15,16,17"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11,12,14,15,16,17",NaN

16

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7,8,9,10,11,12,13","2,3,5,7,9,10,11,13"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,13","1,2,3,4,5,7,8,11,13"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,8,10,11,12,13","1,2,4,5,6,8,10,11,13"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8,12,13",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13","2,3,5,6,8,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13","1,2,3,6,7,8,9,12,13"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,10,11,12,13",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,10,11,12,13",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13","3,4,6,7,8,9,11,13"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11,13","3,4,5,6,7,9,11,13"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13","1,5,6,8,9,10,11,13"

13

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12","3,5,6,8,11,12"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11","3,4,5,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11","1,2,3,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12",NaN
5,14.1000,8.9000,0.0000,"3,5,7,8,11,12",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12","2,3,4,5,6,7,8,11"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12","1,3,4,6,7,9,10,12"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12","1,2,4,5,6,7,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12","2,3,4,7,9,10,12"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12","3,4,7,8,9,10,12"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12","1,3,6,9,10,12"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12","1,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11","1,2,3,4,5,6,7,9,11"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12","1,2,3,4,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12","2,3,4,7,8,10,11,12"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9,11,12","2,4,5,8,9,11"
25,1.0000,1.2000,0.0000,"3,5,6,7,8,9,10,11,12",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,10,11,12","1,3,7,8,10,11,12"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12","1,3,4,6,8,9,10,11,12"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12","1,2,6,7,8,10,12"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12","3,5,7,10,11,12"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12","5,6,9,10,11"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12","1,2,3,4,5,6,8,9,10"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,12","1,3,7,9"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11","1,2,3,4,7,8,9,10,11"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11","2,3,5,8,11"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12",NaN

38

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12","2,3,6,9,11,12"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11","3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11","1,2,4,5,6,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12","1,2,3,6,11,12"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,9,11,12",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,10,11,12",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12","2,3,4,6,7,8,12"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12","3,4,5,6,7,9,10,11,12"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12","1,2,5,6,8,9,10,12"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10","2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12","3,4,7,8,9,11,12"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12","1,2,3,4,6,9,10,11,12"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12","1,2,4,5,7,8,10,12"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11","2,5,6,7,11"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12","1,2,6,7,8,12"

22

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17,18,19","2,3,6,7,9,11,12,14,15,17,18"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17,18,19","3,4,5,7,8,11,14,15,18,19"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17,18,19","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18,19",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17,18",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14,18,19","1,2,3,6,11,12,13,14,18,19"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,16,17,18,19","1,3,5,6,7,8,9,13,15,18,19"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15,17,18,19",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16,17,19",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,19","2,3,4,6,7,8,12,13,14,15,19"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,9,10,11,12,15,16,19","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17,19","1,2,5,8,9,10,11,14,15,16,19"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15,16,18","1,2,5,6,8,9,10,12,14,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15,16,17,18,19","1,2,3,4,5,6,10,15,16,18,19"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12,14,15,16,17,18,19",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17,18,19","3,4,7,8,9,11,12,13,14,16,18"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,19","1,2,3,4,6,9,10,11,12,15,19"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13,14,16,17,18,19",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13,14,15,17,18,19","2,5,6,7,11,13,14,15,17,18,19"
22,23.9000,9.4000,4.7000,"1,2,3,6,7,8,9,11,12,13,14,15,18,19","1,2,6,7,8,12,14,19"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15,16,17,18,19","2,3,4,6,8,10,11,14,15,16,17,18"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,14,15,16,17,18,19","1,2,3,4,5,6,11,12,15,16,17,18,19"

24

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10","2,3,6,7,9"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","3,4,5,7"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10","1,2,4,5,6,7,10"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9","2,3,4,6,7,8"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10","3,4,5,6,7,9,10"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10","1,2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10","1,2,5,6,8,9,10"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10","1,2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9","3,4,7,8,9"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10","1,2,3,4,6,9,10"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10","1,2,4,5,7,8,10"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9","2,5,6,7"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9","1,2,6,7,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10","2,3,4,6,8,10"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8","1,2,3,4,5,6"
25,1.0000,1.2000,0.0000,"5,6,7,8,9,10",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10","1,3,4,7,10"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10","4,6,8,9,10"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10","1,4,5,7,8,10"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10","3,5,7,8,9,10"

29

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17,18,19","2,3,6,9,11,12,14,15,17,18"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17,18,19","2,3,4,5,7,8,11,14,15,18,19"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17,18,19","1,2,4,5,6,7,10,11,13,15,17,18"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18,19",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17,18,19",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14,18,19","1,2,3,6,11,12,13,14,18,19"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,16,17,18,19","1,3,5,6,7,8,9,13,15,18,19"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,17,18,19",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16,17,19",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11,12,13,14,15,16,17,19",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,17,19","2,3,4,6,7,8,11,12,13,14,15,19"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15,16,19","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17,19","1,2,5,8,9,10,11,14,15,16,19"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15,16,18","1,2,5,6,8,9,10,12,14,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15,16,17,18,19","1,2,3,4,5,6,10,15,16,18,19"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12,14,15,16,17,18,19",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17,18,19","3,4,7,8,9,11,12,13,14,16,18,19"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,19","1,2,3,4,6,9,10,11,12,15,19"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13,14,16,17,18,19",NaN

20

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14","3,5,6,8,9,11,12"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11,14","3,4,5,11,14"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14","1,2,3,6,7,10,11,13,14"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,14","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,14",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13,14",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14","2,3,4,5,6,7,8,11,13,14"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12","1,3,4,6,7,9,10,12"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14","1,2,4,5,6,7,8,9,13"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14","2,3,4,6,7,9,10,12"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13,14","1,3,6,9,10,12,13,14"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14","1,8,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13,14","1,2,3,4,5,6,7,9,11,13,14"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14","1,2,3,4,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14","2,3,4,7,8,10,11,12,13,14"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14","2,4,5,8,9,11,14"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14","1,3,7,8,11,12,13,14"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13","1,3,4,6,8,9,10,11,12"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13","1,2,6,7,10,12"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14","3,5,7,10,11,12,14"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12,14","5,6,9,10,11,14"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14","1,2,3,4,5,6,8,9,10,13,14"
33,8.1000,8.8000,0.2000,"1,2,3,5,7,9,11,12,13,14","1,3,7,9,13,14"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14","1,2,3,4,7,8,9,10,11,13,14"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14","2,3,5,6,7,8,11,14"
37,15.9000,8.4000,0.0000,"1,2,3,4,5,8,9,11,12,13,14",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,13,14",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14","1,3,4,5,6,12,14"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9,10,11,12,14","3,5,6,8,9,10,11,14"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13,14","1,4,5,6,7,9,10,12,13,14"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13,14","4,6,7,8,9,10,11,14"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13,14","1,3,5,6,7,9,10,11,12,13,14"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,9,10,11,13,14","1,3,6,7,8,10,11,14"

46

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13","3,5,6,8,9,11,12"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11","3,4,5,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13","1,2,3,6,7,10,11,13"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13","2,3,4,5,6,7,8,11,13"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12","1,3,4,6,7,9,10,12"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13","1,2,4,5,6,7,8,9,13"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12","2,3,4,6,7,9,10,12"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13","1,3,6,9,10,12,13"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13","1,8,13"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13","1,2,3,4,5,6,7,9,11,13"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13","1,2,3,4,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13","2,3,4,7,8,10,11,12,13"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12","2,4,5,8,9,11"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13",NaN
26,18.2000,9.5000,0.5000,"1,3,4,7,8,10,11,12,13","1,3,7,8,11,12,13"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13","1,3,4,6,8,9,10,11,12"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13","1,2,6,7,8,10,12"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12","3,5,7,10,11,12"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12","5,6,9,10,11"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13","1,2,3,4,5,6,8,9,10,13"
33,8.1000,8.8000,0.2000,"1,2,3,5,7,9,11,12,13","1,3,7,9,13"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13","1,2,3,4,7,8,9,10,11,13"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13","2,3,5,8,11"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,13",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12","1,3,4,5,6,12"
42,13.5000,1.5000,9.0000,"3,5,6,7,8,9,10,11,12","3,5,6,8,9,10,11"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13","1,4,5,6,7,9,10,12,13"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13","4,6,7,8,9,10,11"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13","1,3,5,6,7,9,10,11,12,13"

45

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11,12,14,15,16,17","2,3,5,7,9,10,11,14,15,16,17"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,9,10,11,14,15,16,17","1,2,3,4,5,7,8,11,14,15,16,17"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15,16,17","1,2,4,5,6,8,10,11,13,15,16,17"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13,14,15,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,15,16,17","2,3,5,6,8,11,12,13,15,16,17"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14,15,16,17","1,2,3,6,7,8,9,12,13,15,16,17"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12,13,14,15,16,17",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,10,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,9,10,11,12,14,15,16,17",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9,11,12,13,15,16,17","3,4,6,7,8,9,11,15,16,17"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11,13,14,15,16,17","3,4,5,6,7,9,11,15,16,17"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13,14,15,16,17","1,5,6,8,9,10,11,13,15,16,17"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13,14,15,16,17","2,4,6,8,9,10,12,13,14,15,16,17"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,8,10,11,14,15,16,17","1,2,3,4,5,6,11,14,15,16,17"

15

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8","2,3,6,7"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","3,4,5,7"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8","1,2,4,5,6,7"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8","1,3,5,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8","2,3,4,6,7,8"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8","3,4,5,6,7"
13,10.1000,1.2000,0.8000,"1,2,5,6,8","1,2,5,8"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8","1,2,5,6,8"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8","3,4,7,8"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8","1,2,3,4,6"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8","1,2,4,5,7,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8","2,5,6,7"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8","1,2,6,7,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,8","2,3,4,6,8"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8","1,2,3,4,5,6"
25,1.0000,1.2000,0.0000,"5,6,7,8",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8","1,3,4,7"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8","4,6,8"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8","1,4,5,7,8"
29,20.0000,8.1000,5.6000,"3,5,7,8","3,5,7,8"

29

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17","2,3,6,9,11,12,14,15,17"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17","3,4,5,7,11,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,11,12,13,14","1,2,3,6,11,12,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,17","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15,17",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,17","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17","1,2,5,8,9,10,11,15,16"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15,16","1,2,5,6,8,9,10,12,14,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15,16,17","1,2,3,4,5,6,10,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15,16,17",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17","3,4,7,8,9,11,12,13,14,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13,14,16,17",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,12,13,14,15,17","2,5,6,7,11,13,14,15,17"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15","1,2,6,7,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15,16,17","2,3,4,6,8,10,11,16,17"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,15,16,17","1,2,3,4,5,6,11,12,15,16,17"
25,1.0000,1.2000,0.0000,"5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12,14,15,17","1,3,4,7,10,11,12,14,15,17"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11,12,13,15,16","4,6,8,9,10,11,12,13,15,16"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10,11,12,13,14,15,16","1,4,5,7,8,10,12,13,16"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,13,14,15,16,17","3,5,7,8,9,10,11,12,14,15,16,17"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8,11,12,14,15,16,17",NaN

30

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,5,6,7,8,9,10,11,12,13","1,2,3,4,5,6,7,8,9,10,11,12,13"

1

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11,12,14,15,17","2,3,5,7,9,10,11,14,15,17"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15,16,17","1,2,3,4,5,7,8,11,14,15,17"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15,17","1,2,4,5,6,8,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13,14,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9,10,11,12,13,17","2,3,5,6,8,9,11,12,13,17"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,12,13,14,15,16,17","1,2,3,6,7,8,9,12,13,15,17"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12,13,14,15,17",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11,12,14,16,17",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9,11,12,13,15,17","3,4,6,7,8,9,11,15,17"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11,13,14,15,17","3,4,5,6,7,9,11,15,17"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13,15,16,17","1,5,6,8,9,10,11,13,15,16,17"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13,14,15,16,17","2,4,6,8,9,12,13,14,15,16,17"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11,14,15,16,17","1,2,3,4,5,6,14,15,16,17"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11,12,14,15,16,17",NaN
17,24.0000,4.9000,9.9000,"1,2,3,4,5,7,8,9,11,12,13,14,16,17","1,3,4,7,8,9,11,13,16,17"

17

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4","2,3"
2,14.8000,4.6000,7.2000,"1,2,3","2,3"
3,13.1000,5.0000,4.8000,"2,3,4","2,3"
4,18.6000,5.6000,0.0000,"1,2,4",NaN
5,14.1000,8.9000,0.0000,"1,2,4",NaN
6,9.6000,1.9000,1.3000,"1,2,3",3

6

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7","2,3,5,7"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7","1,2,3,4,5,7"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6","1,2,4,5,6"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6","2,3,5,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7","1,2,3,6,7"
8,6.7000,1.7000,0.0000,"1,2,3,4,6",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7","3,4,6,7"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7","3,4,5,6,7"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6","1,5,6"

13

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,6,7,9","2,3,4,7,9"
2,14.8000,4.6000,7.2000,"1,2,3,5,7,8,9","2,3,7,8,9"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,9","2,3,4,5,7,9"
4,18.6000,5.6000,0.0000,"2,4,5,6,7,8,9",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,8,9",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9","1,2,3,5,9"
7,6.6000,2.5000,0.1000,"1,4,5,6,7,8,9","1,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,7,9",NaN
9,10.3000,5.4000,0.0000,"1,2,3,6,7,8,9",NaN

9

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,6,7,9,10,11","2,3,4,7,9,10,11"
2,14.8000,4.6000,7.2000,"1,2,3,5,7,8,9,10,11","2,3,7,8,9,10,11"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,9,10,11","2,3,4,5,7,9,10,11"
4,18.6000,5.6000,0.0000,"2,4,5,6,7,8,9,10,11",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,8,9,10,11",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11","1,2,3,5,9,10,11"
7,6.6000,2.5000,0.1000,"1,4,5,6,7,8,9,10,11","1,6,7,8,9,10,11"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,7,9,10,11",NaN
9,10.3000,5.4000,0.0000,"1,2,3,6,7,8,9,10,11",NaN

9

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11","3,5,6,8,11"
2,14.8000,4.6000,7.2000,"3,4,5,7,11","3,4,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11","1,2,3,6,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9","1,4,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,11",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11","2,3,4,5,6,7,8,11"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11","1,3,4,6,7,9,10"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10","1,2,4,5,6,7,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10","2,3,4,7,9,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11","3,4,7,8,9,10"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,9,10,11","1,3,6,9,10"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11","1,7,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11","1,2,3,4,5,6,7,9,11"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8","1,2,3,4,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11","2,3,4,7,8,10,11"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11","2,4,5,8,9,11"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11","1,3,7,8,10,11"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11","1,3,4,6,8,9,10,11"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10","1,2,6,7,8,10"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11","3,5,7,10,11"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,9,10,11","1,5,6,9,10,11"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11","1,2,3,4,5,6,8,9,10"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11","1,3,7,9"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11","1,2,3,4,7,8,9,10,11"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11","2,3,5,6,7,8,11"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11",NaN
39,4.2000,4.6000,0.0000,"1,4,6,7,8,9,10",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10","1,3,4,5,6"
42,13.5000,1.5000,9.0000,"3,5,6,7,8,9,10,11","3,5,6,8,9,10,11"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10","1,4,5,6,7,9,10"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11","4,6,7,8,9,10,11"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11","1,3,5,6,7,9,10,11"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,10,11","1,3,6,7,8,10,11"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11","1,2,4,5,7,8,10,11"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6,10,11","1,3,4,5,6,10,11"
49,4.4000,6.5000,2.4000,"2,3,4,6,8,9,10,11","2,4,6,8,9,10,11"
50,6.4000,4.6000,5.1000,"1,2,3,4,5,7,8,9,10,11","1,2,3,4,5,8,10,11"
51,14.9000,9.4000,0.0000,"1,2,4,8,9,10,11",NaN
52,22.6000,6.4000,7.4000,"1,2,3,4,5,7,8,9,11","1,2,3,4,5,8,9"
53,3.7000,2.4000,0.0000,"1,2,3,4,5,7,8,9,10,11",NaN
54,19.0000,3.8000,9.7000,"1,2,3,4,5,7,8,9,11","1,2,3,4,5,8,9,11"
55,4.5000,2.2000,0.0000,"2,4,9,11",NaN
56,18.2000,6.2000,6.9000,"1,2,3,4,5,6,7,8,10,11","1,2,3,4,5,6,7,10"
57,16.7000,5.7000,2.2000,"2,3,4,5,6,7,8,9,10,11","2,4,5,6,7,8,9,10"

57

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4","3,4"
2,14.8000,4.6000,7.2000,"1,3,4","3,4"
3,13.1000,5.0000,4.8000,"2,3,4","3,4"
4,18.6000,5.6000,0.0000,"1,2,4",NaN

4

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15","2,3,6,7,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16","2,3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15","1,2,4,5,6,7,10,11,13,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,16","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11,12,13,14,15,16",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,11,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16","1,2,5,8,9,10,11,14,15,16"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15,16","1,2,5,6,8,9,10,12,14,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15,16","1,2,3,4,5,6,10,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12,14,15,16",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16","3,4,7,8,9,11,12,13,14,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16","1,2,4,5,7,8,10,12,13,14,16"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13,14,16",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,9,11,13,14,15","2,5,6,7,11,13,14,15"

21

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3","2,3"
2,14.8000,4.6000,7.2000,"1,2,3,4","1,2,3,4"
3,13.1000,5.0000,4.8000,"1,2,3,4","1,2,4"
4,18.6000,5.6000,0.0000,"1,2,3,4",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4",NaN
6,9.6000,1.9000,1.3000,"1,2,3","2,3"
7,6.6000,2.5000,0.1000,"1,2,3","1,2,3"
8,6.7000,1.7000,0.0000,"1,2,3,4",NaN
9,10.3000,5.4000,0.0000,"1,3",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4",NaN
11,15.9000,3.4000,8.6000,"2,3,4","3,4"
12,1.0000,2.8000,5.4000,"2,3,4","3,4"
13,10.1000,1.2000,0.8000,"1,2,3,4",1

13

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,5,6,7,8,9,10","2,3,4,5,6,7,8,9,10"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,6,7,8,9,10","1,3,4,5,6,7,8,9,10"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,9,10","2,3,4,5,6,7,8,9,10"

3

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15","2,3,6,7,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15","3,4,5,7,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15","1,2,4,5,6,7,10,11,13,15"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11,12,15","3,4,5,6,7,9,10,11,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15","1,2,5,8,9,10,11,15"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15","1,2,5,6,8,9,10,12,14"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,11,14,15","1,2,3,4,5,6,10,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14","3,4,7,8,9,11,12,13,14"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14","1,2,4,5,7,8,10,12,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13,14",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13,14,15","2,5,6,7,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15","1,2,6,7,8,12,13,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15","2,3,4,6,8,10,11,14"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,14,15","1,2,3,4,5,6,11,12,15"
25,1.0000,1.2000,0.0000,"2,5,6,7,8,9,10,11,12,13,14,15",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12,14,15","1,3,4,7,10,11,12,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11,12,13,14,15","4,6,8,9,10,11,12,13,15"

27

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11,12,14,15","2,3,5,7,9,10,11,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15,16","1,2,3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15","1,2,4,5,6,8,10,11,13,15"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13,14,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9,10,11,12,13","2,3,5,6,8,9,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,12,13,14,15,16","1,2,3,6,7,8,9,12,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11,12,13,14,15,16",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11,12,14,16",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9,11,12,13,15","3,4,6,7,8,9,11,15"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11,13,14,15","3,4,5,6,7,9,11,15"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13,15,16","1,5,6,8,9,10,11,13,15,16"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13,14,15,16","2,4,6,8,9,12,13,14,15,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11,14,15,16","1,2,3,4,5,6,14,15,16"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11,12,14,15,16",NaN
17,24.0000,4.9000,9.9000,"1,2,3,4,5,7,8,9,11,12,13,14,16","1,3,4,7,8,9,11,13,16"

17

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6","2,3,6"
2,14.8000,4.6000,7.2000,"1,2,3,4,5","2,3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6","1,2,4,5,6"
4,18.6000,5.6000,0.0000,"2,3,5,6",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6","1,3,5,6"
8,6.7000,1.7000,0.0000,"1,2,3,6",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6","2,3,4,6"
12,1.0000,2.8000,5.4000,"1,3,4,5,6","3,4,5,6"
13,10.1000,1.2000,0.8000,"1,2,5,6","1,2,5"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6","1,2,5,6"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"2,3,4,5",NaN
17,24.0000,4.9000,9.9000,"1,3,4","3,4"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6","1,2,3,4,6"
19,17.6000,3.9000,9.0000,"1,2,3,4,5","1,2,4,5"
20,8.8000,7.3000,0.0000,"1,2,4,5,6",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6","2,5,6"

21

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7,8,9,10,11,12","2,3,5,7,9,11"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11","2,3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,8,10,11,12,13","1,2,4,5,6,8,10,11,13"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,12,13",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13","2,3,5,6,8,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,12,13","2,3,6,7,8,9,12,13"
8,6.7000,1.7000,0.0000,"1,2,3,6,8,9,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11,12,13",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11,12",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13","3,4,6,7,8,9,11"
12,1.0000,2.8000,5.4000,"3,4,5,6,7,8,9,11,13","3,4,5,6,7,9,11"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13","1,5,6,8,9,10,11,13"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13","2,4,6,8,9,12,13"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11,12",NaN

16

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6","2,3,6"
2,14.8000,4.6000,7.2000,"1,2,3,4,5","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6","1,2,4,5,6"
4,18.6000,5.6000,0.0000,"2,3,5,6",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6","1,3,5,6"
8,6.7000,1.7000,0.0000,"1,2,3,6",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6","2,3,4,6"
12,1.0000,2.8000,5.4000,"1,3,4,5,6","3,4,5,6"
13,10.1000,1.2000,0.8000,"1,2,5,6","1,2,5"
14,1.0000,2.0000,3.2000,"1,2,4,5,6","1,2,5,6"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"2,3,4,5",NaN
17,24.0000,4.9000,9.9000,"1,3,4","3,4"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6","1,2,3,4,6"
19,17.6000,3.9000,9.0000,"1,2,3,4,5","1,2,4,5"
20,8.8000,7.3000,0.0000,"1,2,4,5,6",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6","2,5,6"
22,23.9000,9.4000,4.7000,"1,2,3,4,6","1,2,6"
23,13.2000,1.7000,8.2000,"2,3,4,6","2,3,4,6"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6","1,2,3,4,5,6"
25,1.0000,1.2000,0.0000,"5,6",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6","1,3,4"
27,16.9000,9.8000,5.0000,"1,3,4,5,6","4,6"
28,12.6000,0.3000,3.6000,"1,2,3,4,5","1,4,5"

28

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7,8,9,10,11,12,13","2,3,5,7,9,10,11,13"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,13","1,2,3,4,5,7,8,11,13"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,8,10,11,12,13","1,2,4,5,6,8,10,11,13"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8,12,13",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13","2,3,5,6,8,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13","1,2,3,6,7,8,9,12,13"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,10,11,12,13",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,10,11,12,13",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13","3,4,6,7,8,9,11,13"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11,13","3,4,5,6,7,9,11,13"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13","1,5,6,8,9,10,11,13"

13

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,6,7,8,9,10,11,12","2,3,6,7,8,9,10,11,12"
2,14.8000,4.6000,7.2000,"1,2,3,5,6,7,8,9,10,11,12","2,3,6,7,8,9,10,11,12"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,8,9,10,11,12","2,3,5,6,7,8,9,10,11,12"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7,8,9,10,11,12",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,7,8,9,10,11,12",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9,10,11,12","3,5,6,7,8,9,10,11,12"

6

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12","2,3,6,7,9,11,12"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11","3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13","1,2,4,5,6,7,10,11,13"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13","1,2,3,6,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13","1,3,5,6,7,8,9,13"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13","2,3,4,6,7,8,12,13"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,9,10,11,12","3,4,5,6,7,9,10,11,12"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13","1,2,5,6,8,9,10,12"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10","1,2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13","3,4,7,8,9,11,12,13"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13","1,2,3,4,6,9,10,11,12"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13","1,2,4,5,7,8,10,12,13"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13","2,5,6,7,11,13"
22,23.9000,9.4000,4.7000,"1,2,3,6,7,8,9,11,12,13","1,2,6,7,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12","2,3,4,6,8,10,11"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13","1,2,3,4,5,6,11,12"

24

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7,8,9,10,11,12","2,3,5,7,9,10,11"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11","1,2,3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,8,10,11,12","1,2,4,5,6,8,10,11"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8,12",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12","2,3,5,6,8,11,12"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12","1,2,3,6,7,8,9,12"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,10,11,12",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,10,11,12",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12","3,4,6,7,8,9,11"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11","3,4,5,6,7,9,11"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11","1,5,6,8,9,10,11"

13

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12","2,3,5,6,7,9,11,12"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11","3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11","1,2,4,5,6,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12","1,2,3,6,11,12"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,9,11,12",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,10,11,12",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12","2,3,4,6,7,8,12"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12","3,4,5,6,7,9,10,11,12"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12","1,2,5,6,8,9,10,12"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10","2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12","3,4,7,8,9,11,12"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12","1,2,3,4,6,9,10,11,12"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12","1,2,4,5,7,8,10,12"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11","2,5,6,7,11"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12","1,2,6,7,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,9,10,11,12","2,3,4,6,8,10,11"

23

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15","2,3,6,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15","2,3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15","1,2,4,5,6,7,10,11,13,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14,15","1,3,5,6,7,8,9,12,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15","3,4,5,6,7,9,10,11,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15","1,2,5,8,9,10,11,15"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15","1,2,5,6,8,9,10,12,14"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15","1,2,3,4,5,6,10,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,5,7,8,9,11,12,13,14","3,4,7,8,9,11,12,13,14"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"

18

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,5,6,7,8","2,3,4,5,6,7,8"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,6,7,8","1,3,4,5,6,7,8"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8","2,3,4,5,6,7,8"

3

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9","3,5,6,8,9"
2,14.8000,4.6000,7.2000,"3,4,5,7","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7","1,2,3,6,7"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8","1,3,4,5,6,7"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8","2,3,4,5,6,7,8"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9","1,3,4,6,7,9"
13,10.1000,1.2000,0.8000,"1,2,5,8,9","2,5,8,9"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9","1,2,4,5,6,7,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9","2,3,4,7,9"
16,16.2000,7.6000,0.0000,"2,3,4,5,7",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9","3,4,7,8,9"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,8,9","1,3,6,9"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8","1,7,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9","1,2,3,4,5,6,7,9"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8","1,2,3,4,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8","2,3,4,7,8"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9","2,4,5,8,9"
25,1.0000,1.2000,0.0000,"3,6,7,8,9",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8","1,3,7,8"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9","1,3,4,6,8,9"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8","1,2,6,7,8"
29,20.0000,8.1000,5.6000,"3,5,7,8,9","3,5,7"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,8,9","1,5,6,9"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9","1,2,3,4,5,6,8,9"
33,8.1000,8.8000,0.2000,"1,2,3,7,9","1,3,7,9"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9","1,2,5,6,7,9"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9","1,2,3,4,7,8,9"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8","2,3,5,7,8"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9","2,3,4,6,8,9"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9","1,3,4,5,6"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9","3,5,6,8,9"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9","1,4,5,6,7,9"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9","4,6,7,8,9"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9","1,3,5,6,7,9"
46,21.0000,5.3000,6.4000,"1,3,6,7,8","1,3,6,7,8"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8","1,2,4,5,7,8"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6","1,3,4,5,6"
49,4.4000,6.5000,2.4000,"2,3,4,6,8,9","2,4,6,8,9"
50,6.4000,4.6000,5.1000,"1,2,3,4,5,7,8,9","1,2,3,4,5,8"
51,14.9000,9.4000,0.0000,"1,2,3,4,8,9",NaN
52,22.6000,6.4000,7.4000,"1,2,3,4,5,7,8,9","1,2,3,4,5,8,9"
53,3.7000,2.4000,0.0000,"1,2,3,4,5,7,8,9",NaN
54,19.0000,3.8000,9.7000,"1,2,3,4,5,7,8,9","1,2,3,4,5,8,9"
55,4.5000,2.2000,0.0000,"2,4,9",NaN

55

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7","2,3,6,7"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7","2,3,4,5,7"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7","1,2,4,5,6,7"
4,18.6000,5.6000,0.0000,"2,3,5,6,7",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7","1,3,5,6,7"
8,6.7000,1.7000,0.0000,"1,2,3,6,7",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7","2,3,4,6,7"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7","3,4,5,6,7"
13,10.1000,1.2000,0.8000,"1,2,5,6","1,2,5"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6","1,2,5,6"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"2,3,4,5,7",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7","3,4,7"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6","1,2,3,4,6"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7","1,2,4,5,7"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7","2,5,6,7"

21

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17","2,3,6,9,11,12,14,15,17"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17","3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14,15,16,17","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15,17",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,9,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,10,11,12,13,14,15,16,17",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,17","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17","1,2,5,8,9,10,11,14,15,16"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15,16","1,2,5,6,8,9,10,12,14,15,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15,16,17","2,3,4,5,6,10,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12,14,15,16,17",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17","3,4,7,8,9,11,12,13,14,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13,14,16,17",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13,14,15,17","2,5,6,7,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15","1,2,6,7,8,12,13,14"

22

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,6,7,8,9,10,11,12,13,14,15","3,4,5,6,7,8,9,10,11,12,13,14,15"
2,14.8000,4.6000,7.2000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15","3,4,5,6,7,8,9,10,11,12,13,14,15"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,8,9,10,11,12,13,14,15","3,4,5,6,7,8,9,10,11,12,13,14,15"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7,8,9,10,11,12,13,14,15",NaN

4

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,1,
2,14.8000,4.6000,7.2000,1,
3,13.1000,5.0000,4.8000,,
4,18.6000,5.6000,0.0000,,NaN
5,14.1000,8.9000,0.0000,1,NaN
6,9.6000,1.9000,1.3000,1,1
7,6.6000,2.5000,0.1000,1,1
8,6.7000,1.7000,0.0000,1,NaN
9,10.3000,5.4000,0.0000,1,NaN

9

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17","2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17","1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17","2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17"

3

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15","2,3,6,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15","2,3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15","1,2,4,5,6,7,10,11,13,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14,15","1,3,5,6,7,8,9,12,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15","3,4,5,6,7,9,10,11,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15","1,2,5,8,9,10,11,15"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15","1,2,5,6,8,9,10,12,14"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15","1,2,3,4,5,6,10,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,5,7,8,9,11,12,13,14","3,4,7,8,9,11,12,13,14"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"

18

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15","2,3,6,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16","2,3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15","1,2,4,5,6,7,10,11,13,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,16","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11,12,13,14,15,16",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,11,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16","1,2,5,8,9,10,11,14,15,16"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15,16","1,2,5,6,8,9,10,12,14,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15,16","1,2,3,4,5,6,10,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12,14,15,16",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16","3,4,7,8,9,11,12,13,14,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16","1,2,4,5,7,8,10,12,13,14,16"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13,14,16",NaN

20

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11,12,13,14,15","2,3,5,7,9,10,11,12,13,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,12,13,14,15","2,3,4,5,7,8,10,11,12,13,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,14,15","1,2,4,5,6,8,10,11,12,13,14,15"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,10,11,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,11,12,13,14,15",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14,15","2,3,5,6,8,10,11,12,13,14,15"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,10,11,12,13,14,15","3,6,7,8,9,10,11,12,13,14,15"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,10,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,9,10,11,12,13,14,15",NaN

10

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,6,7,8,9,10,11","2,3,6,7,8,9,10,11"
2,14.8000,4.6000,7.2000,"1,2,3,5,6,7,8,9,10,11","2,3,6,7,8,9,10,11"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,8,9,10,11","2,3,5,6,7,8,9,10,11"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7,8,9,10,11",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,7,8,9,10,11",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9,10,11","3,5,6,7,8,9,10,11"

6

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9","3,5,6,8,9"
2,14.8000,4.6000,7.2000,"3,4,5,7,8","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10","1,2,3,6,7,10"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8","1,3,4,5,6,7"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8","2,3,4,5,6,7,8"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10","1,3,4,6,7,9,10"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10","1,2,4,5,6,7,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10","2,3,4,7,9,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10","3,4,7,8,9,10"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10","1,3,6,9,10"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10","1,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9","1,2,3,4,5,6,7,9"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8","1,2,3,4,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10","2,3,4,7,8,10"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9","2,4,5,8,9"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10","1,3,7,8"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10","1,3,4,6,8,9,10"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10","1,2,6,7,8,10"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10","3,5,7,10"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10","5,6,9,10"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10","1,2,3,4,5,6,8,9,10"
33,8.1000,8.8000,0.2000,"1,2,3,7,9","1,3,7,9"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9","1,2,5,6,7,9"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10","1,2,3,4,7,8,9,10"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8","2,3,5,8"
37,15.9000,8.4000,0.0000,"1,2,3,4,5,8,9",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9","2,3,4,6,8,9"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10","1,3,4,5,6"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9,10","3,5,6,8,9,10"

42

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11","2,3,6,9,11"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11","2,3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11","1,2,4,5,6,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11","1,2,3,6,11"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11","2,3,4,6,7,8,11"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11","3,4,5,6,7,9,10,11"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10","1,2,5,6,8,9,10"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10","1,2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11","3,4,7,8,9,11"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11","1,2,3,4,6,9,10,11"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10","1,2,4,5,7,8,10"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10",NaN

20

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15,16,17,18","3,5,6,8,11,12,15,16,17"
2,14.8000,4.6000,7.2000,"3,4,5,7,11,14,15,18","3,4,11,14,18"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15,17,18","1,2,3,6,7,10,11,13,14,15,17,18"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14,15,16,17,18",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14,16,18","1,3,4,5,6,7,11,18"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,15,18","1,4,7,8,15,18"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14,16,17,18",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,11,12,13,14,15,16,17,18",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15,17,18","2,3,4,5,6,7,8,11,13,14,15,18"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15,16","1,3,4,6,7,9,10,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,15,16,17,18","2,5,8,9,10,15,16,17,18"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14,15,16,18","1,2,4,5,6,7,8,9,13,15,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15,16,18","2,3,4,7,9,10,12,15,16,18"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15,16,17,18",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15,16,18","3,4,7,8,9,10,12,13,16,18"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,9,10,11,12,13,14,15,17,18","1,3,6,9,10,12,13,14,15,17"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15,16,17","1,7,8,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15,16,17,18",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13,14,15,17,18","1,2,3,4,5,6,7,9,11,13,14,15,18"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15,17,18","1,2,3,4,8,12,14,15,17,18"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15,16,17,18","2,3,4,7,8,10,11,12,13,14,16,17,18"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14,15,16,17,18","2,4,5,8,9,11,14,15,17,18"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,13,14,15,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14,15,17,18","1,3,7,8,10,11,12,13,14,15,17,18"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15,16,17","1,3,4,6,8,9,10,11,12,13,15,17"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15,16,17,18","1,2,6,7,8,10,12,15,17,18"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15,16,17,18","3,5,7,10,11,12,14,16,17,18"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,9,10,11,12,14,15,16,17","1,5,6,9,10,11,12,14,15,16"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,18","1,2,3,4,5,6,8,9,10,13,14,15,16"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,13,14,15,16,17,18","1,3,7,9,13,14,15,16,17"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14,16,17,18","1,2,5,6,7,9,11,16,18"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14,16,17,18","1,2,3,4,7,8,9,10,11,13,14,16,17,18"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15,17,18","2,3,5,6,7,8,11,14,15,17,18"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14,15,16,17,18",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15,17,18",NaN
39,4.2000,4.6000,0.0000,"1,4,6,7,8,9,10,13,14,15,16,17,18",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13,15,16,17,18","2,3,4,6,8,9,11,16,17"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14,15,16,17,18","1,3,4,5,6,12,14,17,18"
42,13.5000,1.5000,9.0000,"3,5,6,7,8,9,10,11,12,14,15,16,18","3,5,6,8,9,10,11,14,15,16,18"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13,14,16,17,18","1,4,5,6,7,9,10,12,13,14,16,17,18"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13,14,15,16","4,6,7,8,9,10,11,13,14,15,16"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18","1,3,5,6,7,9,10,11,12,13,14,16,17,18"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,10,11,13,14,17,18","1,3,6,7,8,10,11,14,17"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11,13,14,15,16,18","1,2,4,5,7,8,10,11,13,14,15,18"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6,10,11,12,13,14,15,16,18","1,3,4,5,6,10,11,12,13,14,15,16,18"
49,4.4000,6.5000,2.4000,"2,3,4,6,8,9,10,11,12,13,14,15,16","2,4,6,8,9,10,11,12,13,14,15"
50,6.4000,4.6000,5.1000,"1,2,3,4,5,7,8,9,10,11,12,14,15,16,17,18","1,2,3,4,5,8,10,11,12,14,15,17,18"
51,14.9000,9.4000,0.0000,"1,2,4,8,9,10,11,13,14,15,16,17,18",NaN
52,22.6000,6.4000,7.4000,"1,2,3,4,5,7,8,9,11,12,13,14,15,16,18","1,2,3,4,5,8,9,12,13,15,16,18"
53,3.7000,2.4000,0.0000,"1,2,3,4,5,7,8,9,10,11,13,15,16,17,18",NaN
54,19.0000,3.8000,9.7000,"1,2,3,4,5,7,8,9,11,14,15,16,17,18","1,2,3,4,5,8,9,11,14,16,17,18"
55,4.5000,2.2000,0.0000,"2,4,9,11,12,13,14,15,17",NaN
56,18.2000,6.2000,6.9000,"1,2,3,4,5,6,7,8,10,11,12,13,15,16,17,18","1,2,3,4,5,6,7,10,12,15,16,17,18"
57,16.7000,5.7000,2.2000,"2,3,4,5,6,7,8,9,10,11,12,13,14,17,18","2,4,5,6,7,8,9,10,14,18"

57

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6","3,5,6"
2,14.8000,4.6000,7.2000,"3,4,5","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6","1,2,3,6"
4,18.6000,5.6000,0.0000,"2,3,5,6",NaN
5,14.1000,8.9000,0.0000,"1,3,5",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6","1,3,4,5,6"
7,6.6000,2.5000,0.1000,"1,3,4,5,6","1,4,6"
8,6.7000,1.7000,0.0000,"1,2,3,6",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6","2,3,4,5,6"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6","1,3,4,6"
13,10.1000,1.2000,0.8000,"1,2,5","2,5"
14,1.0000,2.0000,3.2000,"1,2,4,5,6","1,2,4,5,6"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6","2,3,4"
16,16.2000,7.6000,0.0000,"2,3,4,5",NaN
17,24.0000,4.9000,9.9000,"1,3,4","3,4"
18,7.1000,2.0000,5.7000,"1,3,4,6","1,3,6"
19,17.6000,3.9000,9.0000,"1,2,4,5",1
20,8.8000,7.3000,0.0000,"1,2,4,5",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6","1,2,3,4,5,6"
22,23.9000,9.4000,4.7000,"1,2,3,4,6","1,2,3,4"
23,13.2000,1.7000,8.2000,"2,3,4,6","2,3,4"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6","2,4,5"
25,1.0000,1.2000,0.0000,"3,6",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4","1,3"
27,16.9000,9.8000,5.0000,"1,3,4,6","1,3,4,6"
28,12.6000,0.3000,3.6000,"1,2,4,5,6","1,2,6"
29,20.0000,8.1000,5.6000,"3,5","3,5"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6",NaN
31,11.2000,2.4000,3.7000,"1,5,6","5,6"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6","1,2,3,4,5,6"
33,8.1000,8.8000,0.2000,"1,2,3","1,3"
34,6.9000,8.6000,1.3000,"1,2,5,6","1,2,5,6"
35,17.6000,3.8000,0.5000,"1,2,3,4","1,2,3,4"
36,11.0000,5.7000,2.3000,"2,3,4,5,6","2,3,5"
37,15.9000,8.4000,0.0000,"2,3,4,5",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6","2,3,4,6"
41,16.4000,7.7000,0.6000,"1,3,4,5,6","1,3,4,5,6"

41

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,6,7,9","2,3,4,7,9"
2,14.8000,4.6000,7.2000,"1,2,3,5,7,8,9","2,3,7,8,9"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,9","2,3,4,5,7,9"
4,18.6000,5.6000,0.0000,"2,4,5,6,7,8,9",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,8,9",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9","1,2,3,5,9"
7,6.6000,2.5000,0.1000,"1,4,5,6,7,8,9","1,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,7,9",NaN
9,10.3000,5.4000,0.0000,"1,2,3,6,7,8,9",NaN

9

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3","2,3"
2,14.8000,4.6000,7.2000,"1,2,3","2,3"
3,13.1000,5.0000,4.8000,"1,2,3","1,2"
4,18.6000,5.6000,0.0000,"1,2,3",NaN
5,14.1000,8.9000,0.0000,"1,2,3",NaN
6,9.6000,1.9000,1.3000,"1,2,3","2,3"
7,6.6000,2.5000,0.1000,"1,2,3","2,3"
8,6.7000,1.7000,0.0000,"1,2,3",NaN
9,10.3000,5.4000,0.0000,"1,3",NaN
10,8.9000,4.2000,0.0000,"1,2,3",NaN
11,15.9000,3.4000,8.6000,"2,3",3
12,1.0000,2.8000,5.4000,3,3
13,10.1000,1.2000,0.8000,"1,2,3",1
14,1.0000,2.0000,3.2000,2,2
15,15.4000,9.5000,5.3000,"1,2,3","1,2,3"
16,16.2000,7.6000,0.0000,"1,2,3",NaN

16

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17,18","2,3,6,7,9,11,12,14,15,17,18"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17,18","3,4,5,7,8,11,14,15,18"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17,18","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17,18",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14,18","1,2,3,6,11,12,13,14,18"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,16,17,18","1,3,5,6,7,8,9,13,15,18"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15,17,18",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17","1,2,5,8,9,10,11,14,15,16"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15,16,18","1,2,5,6,8,9,10,12,14,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15,16,17,18","1,2,3,4,5,6,10,15,16,18"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12,14,15,16,17,18",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17,18","3,4,7,8,9,11,12,13,14,16,18"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13,14,16,17,18",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13,14,15,17,18","2,5,6,7,11,13,14,15,17,18"
22,23.9000,9.4000,4.7000,"1,2,3,6,7,8,9,11,12,13,14,15,18","1,2,6,7,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15,16,17,18","2,3,4,6,8,10,11,14,15,16,17,18"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,14,15,16,17,18","1,2,3,4,5,6,11,12,15,16,17,18"

24

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,5,6","2,3,4,5,6"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,6","2,3,4,5,6"

2

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3","2,3"
2,14.8000,4.6000,7.2000,"1,2,3,4","2,3,4"
3,13.1000,5.0000,4.8000,"1,2,3,4","1,2,4"
4,18.6000,5.6000,0.0000,"1,2,3",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4",NaN
6,9.6000,1.9000,1.3000,"1,2,3","2,3"
7,6.6000,2.5000,0.1000,"1,2,3","2,3"
8,6.7000,1.7000,0.0000,"1,2,3",NaN
9,10.3000,5.4000,0.0000,"1,3",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4",NaN
11,15.9000,3.4000,8.6000,"2,3,4","3,4"
12,1.0000,2.8000,5.4000,"3,4","3,4"
13,10.1000,1.2000,0.8000,"1,2,3,4",1
14,1.0000,2.0000,3.2000,"2,4","2,4"
15,15.4000,9.5000,5.3000,"1,2,3,4","1,2,3,4"
16,16.2000,7.6000,0.0000,"1,2,3,4",NaN

16

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14","3,5,6,8,11,12"
2,14.8000,4.6000,7.2000,"3,4,5,7,11,14","3,4,11,14"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14","1,2,3,6,7,10,11,13,14"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13","1,4,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,11,12,13,14",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14","2,3,4,5,6,7,8,11,13,14"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12","1,3,4,6,7,9,10,12"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14","1,2,4,5,6,7,8,9,13"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14","2,3,4,7,9,10,12"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,9,10,11,12,13,14","1,3,6,9,10,12,13,14"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14","1,8,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13,14","1,2,3,4,5,6,7,9,11,13,14"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14","1,2,3,4,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14","2,3,4,7,8,10,11,12,13,14"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14","2,4,5,8,9,11,14"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,13,14",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14","1,3,7,8,11,12,13,14"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13","1,3,4,6,8,9,10,11,12,13"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13","1,2,6,7,8,10,12"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14","3,5,7,10,11,12,14"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,9,10,11,12,14","1,5,6,9,10,11,12,14"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14","1,2,3,4,5,6,8,9,10,13,14"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,13,14","1,3,7,9,13,14"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14","1,2,3,4,7,8,9,10,11,13,14"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14","2,3,5,8,11,14"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14",NaN
39,4.2000,4.6000,0.0000,"1,4,6,7,8,9,10,13,14",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14","1,3,4,5,6,12,14"
42,13.5000,1.5000,9.0000,"3,5,6,7,8,9,10,11,12,14","3,5,6,8,9,10,11,14"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13,14","1,4,5,6,7,9,10,12,13,14"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13,14","4,6,7,8,9,10,11,13,14"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13,14","1,3,5,6,7,9,10,11,12,13,14"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,10,11,13,14","1,3,6,7,8,10,11,14"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11,13,14","1,2,4,5,7,8,10,11,13,14"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6,10,11,12,13,14","1,3,4,5,6,11,12,13,14"
49,4.4000,6.5000,2.4000,"2,3,4,6,8,9,10,11,12,13,14","2,4,6,8,9,10,11,12,13,14"
50,6.4000,4.6000,5.1000,"1,2,3,4,5,7,8,9,10,11,12,14","1,2,3,4,5,8,10,11,12,14"
51,14.9000,9.4000,0.0000,"1,2,4,8,9,10,11,13,14",NaN
52,22.6000,6.4000,7.4000,"1,2,3,4,5,7,8,9,11,12,13,14","1,2,3,4,5,8,9,12,13"
53,3.7000,2.4000,0.0000,"1,2,3,4,5,7,8,9,10,11,13",NaN
54,19.0000,3.8000,9.7000,"1,2,3,4,5,7,8,9,11,14","1,2,3,4,5,8,9,11,14"
55,4.5000,2.2000,0.0000,"2,4,9,11,12,13,14",NaN
56,18.2000,6.2000,6.9000,"1,2,3,4,5,6,7,8,10,11,12,13","1,2,3,4,5,6,7,10,12"

56

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17","2,3,6,7,9,11,12,14,15,17"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17","3,4,5,7,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,16,17","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15,17",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17","1,2,5,8,9,10,11,15,16"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15,16","1,2,5,6,8,9,10,12,14,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15,16,17","1,2,3,4,5,6,10,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15,16,17",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17","3,4,7,8,9,11,12,13,14,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13,14,16,17",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13,14,15,17","2,5,6,7,11,13,14,15,17"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15","1,2,6,7,8,12,13,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15,16,17","2,3,4,6,8,10,11,14,16,17"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,14,15,16,17","1,2,3,4,5,6,11,12,15,16,17"
25,1.0000,1.2000,0.0000,"2,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12,14,15,17","1,3,7,10,11,12,14,15,17"

26

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5","2,3,5"
2,14.8000,4.6000,7.2000,"1,2,3,4,5","1,2,3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5","1,2,4,5"
4,18.6000,5.6000,0.0000,"1,2,3,4,5",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5","2,3"
7,6.6000,2.5000,0.1000,"1,2,3,5","2,3"
8,6.7000,1.7000,0.0000,"1,2,3,4",NaN
9,10.3000,5.4000,0.0000,"1,3",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5",NaN
11,15.9000,3.4000,8.6000,"2,3,4","3,4"
12,1.0000,2.8000,5.4000,"2,3,4,5","3,4,5"
13,10.1000,1.2000,0.8000,"1,2,3,4,5","1,5"
14,1.0000,2.0000,3.2000,"2,4,5","2,4"

14

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6","2,3,6"
2,14.8000,4.6000,7.2000,"1,2,3,4,5","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6","1,2,4,5,6"
4,18.6000,5.6000,0.0000,"2,3,5,6",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6","1,3,5,6"
8,6.7000,1.7000,0.0000,"1,2,3,6",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6","2,3,4,6"
12,1.0000,2.8000,5.4000,"1,3,4,5,6","3,4,5,6"
13,10.1000,1.2000,0.8000,"1,2,5,6","1,2,5"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6","1,2,5,6"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6","2,3,4,5,6"
16,16.2000,7.6000,0.0000,"2,3,4,5",NaN
17,24.0000,4.9000,9.9000,"1,3,4","3,4"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6","1,2,3,4,6"
19,17.6000,3.9000,9.0000,"1,2,3,4,5","1,2,4,5"
20,8.8000,7.3000,0.0000,"1,2,4,5,6",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6","2,5,6"
22,23.9000,9.4000,4.7000,"1,2,3,4,6","1,2,6"

22

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3","2,3"
2,14.8000,4.6000,7.2000,"1,2,3","1,2,3"
3,13.1000,5.0000,4.8000,"1,2,3","1,2"
4,18.6000,5.6000,0.0000,"1,2,3",NaN
5,14.1000,8.9000,0.0000,"1,2,3",NaN
6,9.6000,1.9000,1.3000,"1,2,3","2,3"
7,6.6000,2.5000,0.1000,"1,2,3","1,2,3"
8,6.7000,1.7000,0.0000,"1,2,3",NaN
9,10.3000,5.4000,0.0000,"1,3",NaN
10,8.9000,4.2000,0.0000,"1,2,3",NaN
11,15.9000,3.4000,8.6000,"2,3",3
12,1.0000,2.8000,5.4000,"2,3",3
13,10.1000,1.2000,0.8000,"1,2,3",1

13

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8","2,3,5,7"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","1,2,3,4,5,7,8"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8","1,2,4,5,6,8"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8","2,3,5,6,8"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8","1,2,3,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8","3,4,6,7,8"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8","3,4,5,6,7"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8","1,5,6,8"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8","2,4,6,8"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,8","1,2,3,4,5,6"

15

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,6,7,8,9","2,3,4,7,8,9"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,9","1,2,3,7,8,9"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,8,9","2,3,4,5,7,8,9"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7,8,9",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,7,8,9",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9","2,3,5,7,8,9"
7,6.6000,2.5000,0.1000,"1,2,4,5,6,7,8,9","1,5,6,7,8,9"

7

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,11,12,13,14","3,5,6,8,9,11,12"
2,14.8000,4.6000,7.2000,"3,4,5,7,11,14","3,4,5,11,14"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14","1,2,3,6,7,10,11,13,14"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,11,12,13,14",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14","2,3,4,5,6,7,8,11,13,14"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12","1,3,4,6,7,9,10,12"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,14","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14","1,2,4,5,6,7,8,9,13"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14","2,3,4,7,9,10,12"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,8,9,10,11,12,13,14","1,3,6,9,10,12,13,14"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14","1,7,8,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13,14","1,2,3,4,5,6,7,9,11,13,14"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14","1,2,3,4,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14","2,3,4,7,8,10,11,12,13,14"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14","2,4,5,8,9,11,14"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14","1,3,7,8,11,12,13,14"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13","1,3,4,6,8,9,10,11,12,13"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,11,12,13","1,2,6,7,8,10,12"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14","3,5,7,10,11,12,14"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,8,9,10,11,12,14","1,5,6,9,10,11,12,14"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14","1,2,3,4,5,6,8,9,10,13,14"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,13,14","1,3,7,9,13,14"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14","1,2,3,4,7,8,9,10,11,13,14"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14","2,3,5,7,8,11,14"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,13,14",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14","1,3,4,5,6,12,14"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9,10,11,12,14","3,5,6,8,9,10,11,14"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13,14","1,4,5,6,7,9,10,12,13,14"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13,14","4,6,7,8,9,10,11,13,14"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13,14","1,3,5,6,7,9,10,11,12,13,14"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,10,11,13,14","1,3,6,7,8,10,11,14"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11,13,14","1,2,4,5,7,8,10,11,13,14"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6,10,11,12,13,14","1,3,4,5,6,10,11,12,13,14"
49,4.4000,6.5000,2.4000,"2,3,4,6,8,9,10,11,12,13,14","2,4,6,8,9,10,11,12,13,14"
50,6.4000,4.6000,5.1000,"1,2,3,4,5,7,8,9,10,11,12,14","1,2,3,4,5,8,10,11,12,14"
51,14.9000,9.4000,0.0000,"1,2,3,4,8,9,10,11,13,14",NaN
52,22.6000,6.4000,7.4000,"1,2,3,4,5,7,8,9,11,12,13,14","1,2,3,4,5,8,9,12,13"
53,3.7000,2.4000,0.0000,"1,2,3,4,5,7,8,9,10,11,13",NaN
54,19.0000,3.8000,9.7000,"1,2,3,4,5,7,8,9,11,12,14","1,2,3,4,5,8,9,11,14"
55,4.5000,2.2000,0.0000,"2,4,9,11,12,13,14",NaN

55

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9","3,5,6,8,9"
2,14.8000,4.6000,7.2000,"3,4,5,7,8","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10","1,2,3,6,7,10"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8","1,3,4,5,6,7"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8","2,3,4,5,6,7,8"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10","1,3,4,6,7,9,10"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10","1,2,4,5,6,7,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10","2,3,4,6,7,9,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10","3,4,7,8,9,10"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,9,10","1,3,6,9,10"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10","1,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9","1,2,3,4,5,6,7,9"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8","1,2,3,4,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10","2,3,4,7,8,10"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9","2,4,5,8,9"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10","1,3,7,8"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10","1,3,4,6,8,9,10"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10","1,2,6,7,10"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10","3,5,7,10"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,9,10","5,6,9,10"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10","1,2,3,4,5,6,8,9,10"
33,8.1000,8.8000,0.2000,"1,2,3,5,7,9","1,3,7,9"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9","1,2,5,6,7,9"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10","1,2,3,4,7,8,9,10"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8","2,3,5,6,7,8"
37,15.9000,8.4000,0.0000,"1,2,3,4,5,8,9",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9","2,3,4,6,8,9"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10","1,3,4,5,6"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9,10","3,5,6,8,9,10"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10","1,4,5,6,7,9,10"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10","4,6,7,8,9,10"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10","1,3,5,6,7,9,10"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,9,10","1,3,6,7,8,10"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10","1,2,4,5,7,8,10"

47

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4","2,3"
2,14.8000,4.6000,7.2000,"1,3,4","1,3"
3,13.1000,5.0000,4.8000,"2,3,4","2,3"
4,18.6000,5.6000,0.0000,"1,2,4",NaN
5,14.1000,8.9000,0.0000,"1,2,4",NaN

5

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15","2,3,6,7,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15","2,3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15","1,2,4,5,6,7,10,11,13,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,11,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15","3,4,5,6,7,9,10,11,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15","1,2,5,8,9,10,11,14,15"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15","1,2,5,6,8,9,10,12,14"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15","1,2,3,4,5,6,10,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14","3,4,7,8,9,11,12,13,14"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14","1,2,4,5,7,8,10,12,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13,14",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,9,11,13,14,15","2,5,6,7,11,13,14,15"

21

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15","2,3,6,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15","3,4,5,7,11,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15","1,2,4,5,6,7,10,11,13,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,11,12,13,14","1,2,3,6,11,12,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11,12,15","3,4,5,6,7,9,10,11,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15","1,2,5,8,9,10,11,15"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15","1,2,5,6,8,9,10,12,14"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15","1,2,3,4,5,6,10,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14","3,4,7,8,9,11,12,13,14"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14","1,2,4,5,7,8,10,12,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13,14",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,12,13,14,15","2,5,6,7,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15","1,2,6,7,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15","2,3,4,6,8,10,11"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,15","1,2,3,4,5,6,11,12,15"
25,1.0000,1.2000,0.0000,"5,6,7,8,9,10,11,12,13,14,15",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12,14,15","1,3,4,7,10,11,12,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11,12,13,15","4,6,8,9,10,11,12,13,15"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10,11,12,13,14,15","1,4,5,7,8,10,12,13"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,13,14,15","3,5,7,8,9,10,11,12,14,15"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8,11,12,14,15",NaN

30

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5","2,3"
2,14.8000,4.6000,7.2000,"1,2,3,4,5","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5","1,2,4,5"
4,18.6000,5.6000,0.0000,"2,3,5",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5","1,2,3"
7,6.6000,2.5000,0.1000,"1,2,3,5","1,3,5"
8,6.7000,1.7000,0.0000,"1,2,3",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5",NaN
11,15.9000,3.4000,8.6000,"2,3,4","2,3,4"
12,1.0000,2.8000,5.4000,"1,3,4,5","3,4,5"
13,10.1000,1.2000,0.8000,"1,2,5","1,2,5"
14,1.0000,2.0000,3.2000,"1,2,4,5","1,2,5"
15,15.4000,9.5000,5.3000,"1,2,3,4,5","1,2,3,4,5"
16,16.2000,7.6000,0.0000,"2,3,4,5",NaN
17,24.0000,4.9000,9.9000,"1,3,4","3,4"
18,7.1000,2.0000,5.7000,"1,2,3,4,5","1,2,3,4"
19,17.6000,3.9000,9.0000,"1,2,3,4,5","1,2,4,5"
20,8.8000,7.3000,0.0000,"1,2,4,5",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5","2,5"
22,23.9000,9.4000,4.7000,"1,2,3","1,2"
23,13.2000,1.7000,8.2000,"2,3,4","2,3,4"
24,15.4000,9.1000,8.2000,"1,2,3,4,5","1,2,3,4,5"
25,1.0000,1.2000,0.0000,"2,5",NaN

25

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11,12","2,3,5,7,9,10,11"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11","1,2,3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12","1,2,4,5,6,8,10,11"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,12",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9,10,11,12","2,3,5,6,8,9,11,12"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,12","1,2,3,6,7,8,9,12"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11,12",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11,12",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9,11,12","3,4,6,7,8,9,11"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11","3,4,5,6,7,9,11"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11","1,5,6,8,9,10,11"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12","2,4,6,8,9,12"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11,12",NaN
17,24.0000,4.9000,9.9000,"1,2,3,4,5,7,8,9,11,12","1,3,4,7,8,9,11"

17

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7,8,9","2,3,5,7,9"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","2,3,4,5,7,8"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,8","1,2,4,5,6,8"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9","2,3,5,6,8"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9","2,3,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,8,9",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9","3,4,6,7,8,9"
12,1.0000,2.8000,5.4000,"3,4,5,6,7,8,9","3,4,5,6,7,9"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9","1,5,6,8,9"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9","2,4,6,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8",NaN

16

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15,16","3,5,6,8,9,11,12,14,15,16"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11,14,15","3,4,5,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15","1,2,3,6,7,10,11,13,14,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,3,5,7,8,11,12,13,14,15,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14,16","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,15","1,4,6,7,8,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14,16",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,15,16",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13,14,15,16",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15","2,3,4,5,6,7,8,11,13,14"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15,16","1,3,4,6,7,9,10,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,15,16","2,5,8,9,10,15,16"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14,15,16","1,2,4,5,6,7,8,9,13,15,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15,16","2,3,4,7,9,10,12,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15,16",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15,16","3,4,7,8,9,10,12,13,16"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13,14,15","1,3,6,9,10,12,13,14,15"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,12,13,14,15,16","1,8,13,14,16"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15,16",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11,13,14,15","1,2,3,4,5,6,7,9,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15","1,2,3,4,8,12,14,15"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15,16","2,3,4,7,8,10,11,12,13,14,16"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9,11,12,14,15,16","2,4,5,8,9,11,14,15"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14,15",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14,15","1,3,7,8,10,11,12,13,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15,16","1,3,4,6,8,9,10,11,12,15"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15,16","1,2,6,7,8,10,12,15"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15,16","3,5,7,10,11,12,14,16"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,13,14,15,16",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12,14,15,16","5,6,9,10,11,14,15"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,16","1,2,3,4,5,6,8,9,10,13,14,15,16"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,12,13,14,15,16","1,3,7,9,13,14,15,16"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14,16","1,2,5,6,7,9,11,16"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14,16","1,2,3,4,7,8,9,10,11,13,14,16"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15","2,3,5,8,11,14,15"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14,15,16",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,11,13,14,15,16",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13,15,16","2,3,4,6,8,9,11,16"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14,15,16","1,3,4,5,6,12,14"

41

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9","2,3,6,7,9"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","2,3,4,5,7,8"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8","1,2,4,5,6,7"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9","2,3,4,6,7,8"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9","3,4,5,6,7,9"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9","1,2,5,8,9"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9","1,2,5,6,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"2,3,4,5,7",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9","3,4,7,8,9"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9","1,2,3,4,6,9"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9","1,2,4,5,7,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,9","2,5,6,7"

21

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18","2,3,6,7,8,9,10,11,12,13,14,15,16,17,18"
2,14.8000,4.6000,7.2000,"1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18","2,3,6,7,8,9,10,11,12,13,14,15,16,17,18"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18","2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18","3,5,6,7,8,9,10,11,12,13,14,15,16,17,18"

6

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9","2,3,5,7,9"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,9","1,2,3,4,5,7,8"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8","1,2,4,5,6,8"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9","2,3,5,6,8"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9","1,2,3,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,9",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9","3,4,6,7,8,9"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9","3,4,5,6,7,9"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9","1,5,6,8,9"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9","2,4,6,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,8","1,2,3,4,5,6"

15

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,2,2
2,14.8000,4.6000,7.2000,"1,2",2
3,13.1000,5.0000,4.8000,"1,2","1,2"
4,18.6000,5.6000,0.0000,2,NaN
5,14.1000,8.9000,0.0000,1,NaN
6,9.6000,1.9000,1.3000,"1,2","1,2"
7,6.6000,2.5000,0.1000,"1,2",1
8,6.7000,1.7000,0.0000,"1,2",NaN
9,10.3000,5.4000,0.0000,"1,2",NaN
10,8.9000,4.2000,0.0000,,NaN
11,15.9000,3.4000,8.6000,2,2
12,1.0000,2.8000,5.4000,1,
13,10.1000,1.2000,0.8000,"1,2","1,2"
14,1.0000,2.0000,3.2000,"1,2","1,2"
15,15.4000,9.5000,5.3000,"1,2","1,2"
16,16.2000,7.6000,0.0000,2,NaN
17,24.0000,4.9000,9.9000,1,
18,7.1000,2.0000,5.7000,"1,2","1,2"

18

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17,18","2,3,6,9,11,12,14,15,17,18"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17,18","3,4,5,7,8,11,14,15,18"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17,18","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17,18",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14,18","1,2,3,6,11,12,13,14,18"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14,15,16,17,18","1,3,5,6,7,8,9,13,15,18"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15,17,18",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,9,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,10,11,12,13,14,15,16,17",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,17","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17","1,2,5,8,9,10,11,14,15,16"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15,16,18","1,2,5,6,8,9,10,12,14,15,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15,16,17,18","2,3,4,5,6,10,15,16,18"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12,14,15,16,17,18",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17,18","3,4,7,8,9,11,12,13,14,16,18"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13,14,16,17,18",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13,14,15,17,18","2,5,6,7,11,13,14,15,18"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15,18","1,2,6,7,8,12,13,14"

22

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8","2,3,5,7"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","1,2,3,4,5,7,8"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8","1,2,4,5,6,8"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8","2,3,5,6,8"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8","1,2,3,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8","3,4,6,7,8"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8","3,4,5,6,7"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8","1,5,6,8"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8","2,4,6,8"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,8","1,2,3,4,5,6"

15

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11,12,14,15","2,3,5,7,9,10,11,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15","1,2,3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15","1,2,4,5,6,8,10,11,13,15"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9,10,11,12,13","2,3,5,6,8,9,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,12,13,14,15","1,2,3,6,7,8,9,12,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11,12,14",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9,11,12,13,15","3,4,6,7,8,9,11,15"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11,13,14,15","3,4,5,6,7,9,11,15"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13,15","1,5,6,8,9,10,11,13,15"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13,14,15","2,4,6,8,9,12,13,14,15"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11,14,15","1,2,3,4,5,6,14,15"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11,12,14,15",NaN
17,24.0000,4.9000,9.9000,"1,2,3,4,5,7,8,9,11,12,13,14","1,3,4,7,8,9,11,13"

17

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15","3,5,6,8,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11,14,15","3,4,5,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15","1,2,3,6,7,10,11,13,14,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14,15",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,15","1,4,6,7,8,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15","2,3,4,5,6,7,8,11,13,14"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15","1,3,4,6,7,9,10,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,15","2,5,8,9,10,15"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14,15","1,2,4,5,6,7,8,9,13,15"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15","2,3,4,7,9,10,12,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13,14,15","1,3,6,9,10,12,13,14,15"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,12,13,14,15","1,8,13"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11,13,14,15","1,2,3,4,5,6,7,9,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15","1,2,3,4,8,12,14,15"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15","2,3,4,7,8,10,11,12,13,14"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14,15","2,4,5,8,9,11,14,15"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14,15",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14,15","1,3,7,8,11,12,13,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15","1,3,4,6,8,9,10,11,12,15"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15","1,2,6,7,8,10,12,15"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15","3,5,7,10,11,12,14"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12,14,15","5,6,9,10,11,14,15"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,5,6,8,9,10,13,14,15"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,12,13,14,15","1,3,7,9,13,14,15"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14","1,2,3,4,7,8,9,10,11,13,14"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15","2,3,5,8,11,14,15"
37,15.9000,8.4000,0.0000,"1,2,3,4,5,8,9,11,12,13,14,15",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,11,13,14,15",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13,15","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14,15","1,3,4,5,6,12,14"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9,10,11,12,14,15","3,5,6,8,9,10,11,14,15"

42

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17,18","2,3,6,9,11,12,14,15,17,18"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17,18","3,4,5,7,11,15,18"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17,18","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17,18",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,11,12,13,14,18","1,2,3,6,11,12,14,18"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,17,18","1,3,5,6,7,8,9,13,15,18"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15,17,18",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,17","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17","1,2,5,8,9,10,11,15,16"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15,16,18","1,2,5,6,8,9,10,12,14,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15,16,17,18","1,2,3,4,5,6,10,15,16,18"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15,16,17,18",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17,18","3,4,7,8,9,11,12,13,14,16,18"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13,14,16,17,18",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,12,13,14,15,17,18","2,5,6,7,11,13,14,15,17,18"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15,18","1,2,6,7,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15,16,17,18","2,3,4,6,8,10,11,16,17,18"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,15,16,17,18","1,2,3,4,5,6,11,12,15,16,17,18"
25,1.0000,1.2000,0.0000,"5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12,14,15,17,18","1,3,4,7,10,11,12,14,15,17,18"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11,12,13,15,16,18","4,6,8,9,10,11,12,13,15,16"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10,11,12,13,14,15,16,18","1,4,5,7,8,10,12,13,16"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,13,14,15,16,17,18","3,5,7,8,9,10,11,12,14,15,16,17,18"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8,11,12,14,15,16,17,18",NaN

30

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11","2,3,6,9,11"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11","3,4,5,7,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11","1,2,4,5,6,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11","1,2,3,6,11"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,6,7,8,9,10,11",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11","2,3,4,6,7,8,11"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11","1,3,4,5,6,7,9,10,11"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10","1,2,5,6,8,9,10"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11","1,2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11","3,4,7,8,9,11"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11","1,3,4,6,9,10,11"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10","1,2,4,5,7,8,10"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11","2,5,6,7,11"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11","1,2,6,7,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11","2,3,4,6,8,10,11"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11","1,2,3,4,5,6,11"
25,1.0000,1.2000,0.0000,"5,6,7,8,9,10,11",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11","1,2,3,4,6,7,8,10,11"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11","4,6,8,9,10,11"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10,11","1,4,5,7,8,10"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11","3,5,7,8,9,10,11"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8,10,11",NaN
31,11.2000,2.4000,3.7000,"1,2,3,4,5,7,8,9,10,11","1,2,5,7,9,11"

31

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,6,7,8,9","3,4,5,6,7,8,9"
2,14.8000,4.6000,7.2000,"1,3,4,5,6,7,8,9","3,4,5,6,7,8,9"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,8,9","3,4,5,6,7,8,9"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7,8,9",NaN

4

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,9,10,11,12,14,15","2,3,6,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16","3,4,5,7,11,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15","1,2,4,5,6,7,10,11,13,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,11,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11,12,15,16","1,3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16","1,2,5,8,9,10,11,15,16"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15,16","1,2,5,6,8,9,10,12,14,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15,16","1,2,3,4,5,6,10,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15,16",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16","3,4,7,8,9,11,12,13,14,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,15","1,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16","1,2,4,5,7,8,10,12,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13,14,16",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,12,13,14,15","2,5,6,7,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,6,7,8,9,11,12,13,14,15","1,2,6,7,8,12,13,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,14,15,16","2,3,4,6,8,10,11,14,16"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,15,16","1,2,3,4,5,6,11,12,15,16"
25,1.0000,1.2000,0.0000,"6,7,8,9,10,11,12,13,14,15,16",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12,13,14,15","1,2,3,4,6,7,8,10,11,12,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11,12,13,15,16","4,6,8,9,10,11,12,13,15,16"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10,11,12,13,14,15,16","1,4,5,7,8,10,12,13,15,16"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,13,14,15,16","3,5,7,8,10,11,12,14,15,16"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8,11,12,14,15,16",NaN
31,11.2000,2.4000,3.7000,"1,2,4,5,7,8,9,10,11,12,15,16","1,2,5,7,9,11,12,16"
32,12.8000,8.2000,1.2000,"1,2,4,5,6,7,8,9,10,11,12,13,14,15,16","1,2,4,5,6,8,9,10,12,13,14,16"
33,8.1000,8.8000,0.2000,"1,2,3,4,5,7,8,9,10,11,13,14,15,16","1,2,3,5,7,9,13,14,15,16"

33

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4","2,3"
2,14.8000,4.6000,7.2000,"1,2,3","2,3"
3,13.1000,5.0000,4.8000,"2,3,4","2,3,4"
4,18.6000,5.6000,0.0000,"2,4",NaN
5,14.1000,8.9000,0.0000,"1,2,4",NaN
6,9.6000,1.9000,1.3000,"1,2,3","1,2,3"
7,6.6000,2.5000,0.1000,"1,4",1
8,6.7000,1.7000,0.0000,"1,3,4",NaN

8

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13","3,5,6,8,9,11,12"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11","3,4,5,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13","1,2,3,6,7,10,11,13"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13",NaN
5,14.1000,8.9000,0.0000,"1,3,5,7,8,11,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13","2,3,4,5,6,7,8,11,13"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12","1,3,4,6,7,9,10,12"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13","1,2,4,5,6,7,8,9,13"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12","2,3,4,7,9,10,12"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13","1,3,6,9,10,12,13"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,12,13","1,8,13"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11,13","1,2,3,4,5,6,7,9,11,13"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13","1,2,3,4,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13","2,3,4,7,8,10,11,12,13"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9,11,12","2,4,5,8,9,11"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13","1,3,7,8,10,11,12,13"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13","1,3,4,6,8,9,10,11,12"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13","1,2,6,7,8,10,12"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12","3,5,7,10,11,12"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,13",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12","5,6,9,10,11"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13","1,2,3,4,5,6,8,9,10,13"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,12,13","1,3,7,9,13"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13","1,2,3,4,7,8,9,10,11,13"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13","2,3,5,8,11"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,11,13",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12","1,3,4,5,6,12"

41

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12","3,5,6,8,11,12"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11","3,4,5,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11","1,2,3,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12",NaN
5,14.1000,8.9000,0.0000,"3,5,7,8,11,12",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,11,12","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12","2,3,4,5,7,8,11"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12","1,3,4,6,7,9,10,12"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12","1,2,4,5,6,7,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12","2,3,4,6,7,9,10,12"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12","3,4,7,8,9,10,12"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12","1,3,6,9,10,12"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12","1,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11","1,2,3,4,5,6,7,9,11"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12","1,2,3,4,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12","2,3,4,7,8,10,11,12"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9,11,12","2,4,5,8,9,11"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,10,11,12","1,3,7,8,10,11,12"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12","1,3,4,6,8,9,10,11,12"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12","1,2,6,7,8,10,12"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12","3,5,7,10,11,12"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12","5,6,9,10,11"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12","1,2,3,4,5,6,8,9,10"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,12","1,3,7,9"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11","1,2,3,4,7,8,9,10,11"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11","2,3,5,7,8,11"

36

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8","2,3,6,7"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","3,4,5,7"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8","1,2,4,5,6,7"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8","1,3,5,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8","2,3,4,6,7,8"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8","3,4,5,6,7"
13,10.1000,1.2000,0.8000,"1,2,5,6,8","1,2,5,8"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8","1,2,5,6,8"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8","3,4,7,8"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8","1,2,3,4,6"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8","1,2,4,5,7,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8","2,5,6,7"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8","1,2,6,7,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,8","2,3,4,6,8"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8","1,2,3,4,5,6"
25,1.0000,1.2000,0.0000,"2,5,6,7,8",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8","1,3,7"

26

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7,8,9,10,11,12,14","2,3,5,7,9,11,14"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14","2,3,4,5,7,8,11,14"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,8,10,11,12,13","1,2,4,5,6,8,10,11,13"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,12,13,14",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13","2,3,5,6,8,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,12,13,14","2,3,6,7,8,9,12,13"
8,6.7000,1.7000,0.0000,"1,2,3,6,8,9,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11,12,13,14",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11,12,14",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13","3,4,6,7,8,9,11"
12,1.0000,2.8000,5.4000,"3,4,5,6,7,8,9,11,13,14","3,4,5,6,7,9,11"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13","1,5,6,8,9,10,11,13"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13,14","2,4,6,8,9,12,13,14"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11,14","1,2,3,4,5,6,14"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11,12,14",NaN

16

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11,12,13,14,15,16","2,3,5,7,9,10,11,12,13,14,15,16"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,12,13,14,15,16","2,3,4,5,7,8,11,12,13,14,15,16"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,14,15,16","1,2,4,5,6,8,10,11,12,13,14,15,16"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8,11,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,11,12,13,14,15,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14,15,16","2,3,5,6,8,9,11,12,13,14,15,16"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,11,12,13,14,15,16","2,3,6,7,8,9,11,12,13,14,15,16"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,7,8,9,11,12,13,14,15,16",NaN
9,10.3000,5.4000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15,16",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,9,10,11,12,13,14,15,16",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9,11,12,13,14,15,16","3,4,6,7,8,9,11,12,13,14,15,16"

11

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11","3,5,6,8,9,11"
2,14.8000,4.6000,7.2000,"2,3,4,5,7,8,11","3,4,5,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11","1,2,3,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10",NaN
5,14.1000,8.9000,0.0000,"3,5,7,8,11",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,11","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11","2,3,4,5,6,7,8,11"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11","1,3,4,6,7,9,10"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10","1,2,4,5,6,7,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10","2,3,4,6,7,9,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11","3,4,7,8,9,10"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,9,10,11","1,3,6,9,10"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11","1,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11","1,2,3,4,5,6,7,9,11"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8","1,2,3,4,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11","2,3,4,7,8,10,11"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9,11","2,4,5,8,9,11"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,10,11","1,3,7,8,10,11"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11","1,3,4,6,8,9,10,11"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,11","1,2,4,6,7,8,10"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11","3,5,7,10,11"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11","5,6,9,10,11"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11","1,2,3,4,5,6,8,9,10"
33,8.1000,8.8000,0.2000,"1,2,3,5,7,9,11","1,3,7,9"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11","1,2,3,4,7,8,9,10,11"

35

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,6,7","3,4,5,6,7"
2,14.8000,4.6000,7.2000,"1,3,4,5,6,7","3,4,5,6,7"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7","3,4,5,6,7"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7",NaN

4

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9","3,5,6,8"
2,14.8000,4.6000,7.2000,"3,4,5,7,8","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7","1,2,3,7"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"3,5,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7","1,3,4,5,6,7"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8","2,3,4,5,7,8"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9","1,3,4,6,7,9"
13,10.1000,1.2000,0.8000,"1,2,5,8,9","2,5,8,9"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9","1,2,4,5,6,7,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9","2,3,4,6,7,9"
16,16.2000,7.6000,0.0000,"2,3,4,5,7",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9","3,4,7,8,9"
18,7.1000,2.0000,5.7000,"1,3,4,6,9","1,3,6,9"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8","1,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9","1,2,3,4,5,6,7,9"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8","1,2,3,4,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8","2,3,4,7,8"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9","2,4,5,8,9"
25,1.0000,1.2000,0.0000,"3,6,7,8,9",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8","1,3,7,8"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9","1,3,4,6,8,9"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8","1,2,6,7,8"
29,20.0000,8.1000,5.6000,"3,5,7,8,9","3,5,7"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9","5,6,9"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9","1,2,3,4,5,6,8,9"
33,8.1000,8.8000,0.2000,"1,2,3,7,9","1,3,7,9"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9","1,2,5,6,7,9"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9","1,2,3,4,7,8,9"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8","2,3,5,7,8"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9",NaN

37

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13","3,5,6,8,11,12"
2,14.8000,4.6000,7.2000,"3,4,5,7,11","3,4,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13","1,2,3,6,7,10,11,13"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13","1,4,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,11,12,13",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13","2,3,4,5,6,7,8,11,13"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12","1,3,4,6,7,9,10,12"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13","1,2,4,5,6,7,8,9,13"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12","2,3,4,7,9,10,12"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,9,10,11,12,13","1,3,6,9,10,12,13"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13","1,8,13"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13","1,2,3,4,5,6,7,9,11,13"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13","1,2,3,4,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13","2,3,4,7,8,10,11,12,13"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12","2,4,5,8,9,11"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,13",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13","1,3,7,8,11,12,13"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13","1,3,4,6,8,9,10,11,12,13"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13","1,2,6,7,8,10,12"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12","3,5,7,10,11,12"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,9,10,11,12","1,5,6,9,10,11,12"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13","1,2,3,4,5,6,8,9,10,13"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,13","1,3,7,9,13"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13","1,2,3,4,7,8,9,10,11,13"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13","2,3,5,8,11"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12",NaN
39,4.2000,4.6000,0.0000,"1,4,6,7,8,9,10,13",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12","1,3,4,5,6,12"
42,13.5000,1.5000,9.0000,"3,5,6,7,8,9,10,11,12","3,5,6,8,9,10,11"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13","1,4,5,6,7,9,10,12,13"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13","4,6,7,8,9,10,11,13"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13","1,3,5,6,7,9,10,11,12,13"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,10,11,13","1,3,6,7,8,10,11"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11,13","1,2,4,5,7,8,10,11,13"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6,10,11,12,13","1,3,4,5,6,11,12,13"
49,4.4000,6.5000,2.4000,"2,3,4,6,8,9,10,11,12,13","2,4,6,8,9,10,11,12,13"
50,6.4000,4.6000,5.1000,"1,2,3,4,5,7,8,9,10,11,12","1,2,3,4,5,8,10,11,12"
51,14.9000,9.4000,0.0000,"1,2,4,8,9,10,11,13",NaN
52,22.6000,6.4000,7.4000,"1,2,3,4,5,7,8,9,11,12,13","1,2,3,4,5,8,9,12,13"
53,3.7000,2.4000,0.0000,"1,2,3,4,5,7,8,9,10,11,13",NaN
54,19.0000,3.8000,9.7000,"1,2,3,4,5,7,8,9,11","1,2,3,4,5,8,9,11"
55,4.5000,2.2000,0.0000,"2,4,9,11,12,13",NaN
56,18.2000,6.2000,6.9000,"1,2,3,4,5,6,7,8,10,11,12,13","1,2,3,4,5,6,7,10,12"

56

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,9,10,11,12","2,3,6,9,11,12"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11","3,4,5,7,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11","1,2,4,5,6,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,11,12","1,2,3,6,11,12"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12","2,3,4,6,7,8,11,12"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11,12","1,3,4,5,6,7,9,10,11,12"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12","1,2,5,6,8,9,10,12"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10","1,2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12","3,4,7,8,9,11,12"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12","1,3,4,6,9,10,11,12"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12","1,2,4,5,7,8,10,12"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,12","2,5,6,7,11"
22,23.9000,9.4000,4.7000,"1,2,3,6,7,8,9,11,12","1,2,6,7,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11","2,3,4,6,8,10,11"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12","1,2,3,4,5,6,11,12"
25,1.0000,1.2000,0.0000,"6,7,8,9,10,11,12",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12","1,2,3,4,6,7,8,10,11,12"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11,12","4,6,8,9,10,11,12"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10,11,12","1,4,5,7,8,10,12"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12","3,5,7,8,10,11,12"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8,11,12",NaN
31,11.2000,2.4000,3.7000,"1,2,4,5,7,8,9,10,11,12","1,2,5,7,9,11,12"
32,12.8000,8.2000,1.2000,"1,2,4,5,6,7,8,9,10,11,12","1,2,4,5,6,8,9,10,12"
33,8.1000,8.8000,0.2000,"1,2,3,4,5,7,8,9,10,11","1,2,3,5,7,9"

33

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3","2,3"
2,14.8000,4.6000,7.2000,"1,2,3","2,3"
3,13.1000,5.0000,4.8000,"1,2,3","1,2"
4,18.6000,5.6000,0.0000,"1,2,3",NaN
5,14.1000,8.9000,0.0000,"1,2,3",NaN
6,9.6000,1.9000,1.3000,"1,2,3","2,3"
7,6.6000,2.5000,0.1000,"1,2,3","1,2,3"
8,6.7000,1.7000,0.0000,"1,2,3",NaN
9,10.3000,5.4000,0.0000,"1,3",NaN
10,8.9000,4.2000,0.0000,"1,2,3",NaN
11,15.9000,3.4000,8.6000,"2,3",3
12,1.0000,2.8000,5.4000,3,3

12

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11","3,5,6,8,11"
2,14.8000,4.6000,7.2000,"3,4,5,7,11","3,4,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11","1,2,3,6,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9","1,4,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,11",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11","2,3,4,5,6,7,8,11"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11","1,3,4,6,7,9,10"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10","1,2,4,5,6,7,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10","2,3,4,7,9,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11","3,4,7,8,9,10"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,9,10,11","1,3,6,9,10"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11","1,7,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11","1,2,3,4,5,6,7,9,11"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8","1,2,3,4,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11","2,3,4,7,8,10,11"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11","2,4,5,8,9,11"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11","1,3,7,8,10,11"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11","1,3,4,6,8,9,10,11"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10","1,2,6,7,8,10"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11","3,5,7,10,11"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,9,10,11","1,5,6,9,10,11"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11","1,2,3,4,5,6,8,9,10"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11","1,3,7,9"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11","1,2,3,4,7,8,9,10,11"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11","2,3,5,6,7,8,11"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11",NaN
39,4.2000,4.6000,0.0000,"1,4,6,7,8,9,10",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10","1,3,4,5,6"
42,13.5000,1.5000,9.0000,"3,5,6,7,8,9,10,11","3,5,6,8,9,10,11"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10","1,4,5,6,7,9,10"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11","4,6,7,8,9,10,11"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11","1,3,5,6,7,9,10,11"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,10,11","1,3,6,7,8,10,11"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11","1,2,4,5,7,8,10,11"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6,10,11","1,3,4,5,6,10,11"
49,4.4000,6.5000,2.4000,"2,3,4,6,8,9,10,11","2,4,6,8,9,10,11"
50,6.4000,4.6000,5.1000,"1,2,3,4,5,7,8,9,10,11","1,2,3,4,5,8,10,11"
51,14.9000,9.4000,0.0000,"1,2,4,8,9,10,11",NaN
52,22.6000,6.4000,7.4000,"1,2,3,4,5,7,8,9,11","1,2,3,4,5,8,9"
53,3.7000,2.4000,0.0000,"1,2,3,4,5,7,8,9,10,11",NaN
54,19.0000,3.8000,9.7000,"1,2,3,4,5,7,8,9,11","1,2,3,4,5,8,9,11"
55,4.5000,2.2000,0.0000,"2,4,9,11",NaN
56,18.2000,6.2000,6.9000,"1,2,3,4,5,6,7,8,10,11","1,2,3,4,5,6,7,10"
57,16.7000,5.7000,2.2000,"2,3,4,5,6,7,8,9,10,11","2,4,5,6,7,8,9,10"

57

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3",3
2,14.8000,4.6000,7.2000,"1,3",3
3,13.1000,5.0000,4.8000,"2,3",3
4,18.6000,5.6000,0.0000,"1,2",NaN

4

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15","2,3,6,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15,16","2,3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15","1,2,4,5,6,7,10,11,13,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14,15,16","1,3,5,6,7,8,9,12,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11,12,13,14,15,16",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16","1,2,5,8,9,10,11,15,16"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15,16","1,2,5,6,8,9,10,12,14,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15,16","1,2,3,4,5,6,10,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15,16",NaN
17,24.0000,4.9000,9.9000,"1,3,4,5,7,8,9,11,12,13,14,16","3,4,7,8,9,11,12,13,14,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"

18

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9","2,3,6,9"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","2,3,4,5,7,8"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8","1,2,4,5,6,7"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9","2,3,4,6,7,8"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9","3,4,5,6,7,9"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9","1,2,5,8,9"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9","1,2,5,6,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"2,3,4,5,7",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9","3,4,7,8,9"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9","1,2,3,4,6,9"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9","1,2,4,5,7,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8",NaN

20

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14","1,2,3,4,5,6,7,8,9,10,11,12,13,14"

1

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,5,6","2,3,4,5,6"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,6","1,3,4,5,6"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6","2,3,4,5,6"

3

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11","2,3,5,7,9,10,11"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11","1,2,3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11","1,2,4,5,6,8,10,11"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9,10,11","2,3,5,6,8,9,11"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9","1,2,3,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9,11","3,4,6,7,8,9,11"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11","3,4,5,6,7,9,11"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11","1,5,6,8,9,10,11"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10","2,4,6,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11",NaN
17,24.0000,4.9000,9.9000,"1,2,3,4,5,7,8,9,11","1,3,4,7,8,9,11"

17

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5","2,3,5"
2,14.8000,4.6000,7.2000,"1,2,3,4,5","1,2,3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5","1,2,4,5"
4,18.6000,5.6000,0.0000,"1,2,3,4,5",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5","2,3,5"
7,6.6000,2.5000,0.1000,"1,2,3,5","1,2,3"
8,6.7000,1.7000,0.0000,"1,2,3,4",NaN
9,10.3000,5.4000,0.0000,"1,3",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5",NaN
11,15.9000,3.4000,8.6000,"2,3,4","3,4"
12,1.0000,2.8000,5.4000,"2,3,4,5","3,4,5"
13,10.1000,1.2000,0.8000,"1,2,3,4,5","1,5"

13

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3","2,3"
2,14.8000,4.6000,7.2000,"1,2,3,4","2,3,4"
3,13.1000,5.0000,4.8000,"1,2,3,4","1,2,4"
4,18.6000,5.6000,0.0000,"2,3",NaN
5,14.1000,8.9000,0.0000,"1,3,4",NaN
6,9.6000,1.9000,1.3000,"1,2,3","1,2,3"
7,6.6000,2.5000,0.1000,"1,2,3","1,3"
8,6.7000,1.7000,0.0000,"1,2,3",NaN
9,10.3000,5.4000,0.0000,"1,2,3",NaN
10,8.9000,4.2000,0.0000,"1,3,4",NaN
11,15.9000,3.4000,8.6000,"2,3,4","2,3,4"
12,1.0000,2.8000,5.4000,"1,2,3,4","3,4"
13,10.1000,1.2000,0.8000,"1,2,4","1,2"
14,1.0000,2.0000,3.2000,"1,2,3,4","1,2"
15,15.4000,9.5000,5.3000,"1,2,3,4","1,2,3,4"
16,16.2000,7.6000,0.0000,"2,3,4",NaN
17,24.0000,4.9000,9.9000,"1,3,4","3,4"
18,7.1000,2.0000,5.7000,"1,2,3,4","1,2,3,4"
19,17.6000,3.9000,9.0000,"1,2,3,4","1,2,4"

19

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,6,7,8,9,10","2,3,5,6,7,8,9,10"
2,14.8000,4.6000,7.2000,"1,3,4,5,6,7,8,9,10","1,3,5,6,7,8,9,10"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,8,9,10","2,3,5,6,7,8,9,10"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7,8,9,10",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,7,8,9,10",NaN

5

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,5,6,7","1,2,3,4,5,6,7"

1

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15,16,17,18","3,5,6,8,9,11,12,15,16,17"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11,14,15,18","3,4,5,11,14,15,18"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15,17,18","1,2,3,6,7,10,11,13,14,15,17,18"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14,15,16,17,18",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14,16,18","1,3,4,5,6,7,11,18"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,14,15,18","1,4,6,7,8,15,18"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14,16,17,18",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,14,15,16,17,18",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15,17,18","2,3,4,5,6,7,8,11,13,14,15,18"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15,16","1,3,4,6,7,9,10,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,15,16,17,18","2,5,8,9,10,15,16,17,18"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,15,16,18","1,2,4,5,6,7,8,9,13,15,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15,16,18","2,3,4,6,7,9,10,12,15,16,18"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15,16,17",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15,16,18","3,4,7,8,9,10,12,13,16,18"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13,14,15,17","1,3,6,9,10,12,13,14,15,17"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15,16,17","1,8,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15,16,17,18",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13,14,15,17,18","1,2,3,4,5,6,7,9,11,13,14,15,18"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15,17,18","1,2,3,4,8,12,14,15,18"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15,16,17,18","2,3,4,7,8,10,11,12,13,14,16,17,18"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14,15,16,17,18","2,4,5,8,9,11,14,15,17,18"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14,15,17",NaN
26,18.2000,9.5000,0.5000,"1,3,4,7,8,10,11,12,13,14,15,17,18","1,3,7,8,11,12,13,14,15,18"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15,16,17","1,3,4,6,8,9,10,11,12,15"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15,16,17,18","1,2,6,7,8,10,12,15,17,18"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15,16,17,18","3,5,7,10,11,12,14,16,17,18"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12,14,15,16,17","5,6,9,10,11,14,15"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,18","1,2,3,4,5,6,8,9,10,13,14,15,16"
33,8.1000,8.8000,0.2000,"1,2,3,5,7,9,11,12,13,14,15,16,17,18","1,3,7,9,13,14,15,16,17"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14,16,17,18","1,2,5,6,7,9,11,16,18"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14,16,17,18","1,2,3,4,7,8,9,10,11,13,14,16,17,18"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15,17,18","2,3,5,8,11,14,15,17,18"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14,15,16,17,18",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15,17,18",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,13,14,15,16,17,18",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13,15,16,17,18","2,3,4,6,8,9,11,16,17"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14,15,16,17,18","1,3,4,5,6,12,14,17,18"
42,13.5000,1.5000,9.0000,"3,5,6,7,8,9,10,11,12,14,15,16,18","3,5,6,8,9,10,11,14,15,16"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13,14,16,17,18","1,4,5,6,7,9,10,12,13,14,16,17,18"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13,14,15,16","4,6,7,8,9,10,11,14,15,16"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18","1,3,5,6,7,9,10,11,12,13,14,16,17,18"

45

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,2,2
2,14.8000,4.6000,7.2000,"1,2",2
3,13.1000,5.0000,4.8000,"1,2","1,2"
4,18.6000,5.6000,0.0000,"1,2",NaN
5,14.1000,8.9000,0.0000,"1,2",NaN
6,9.6000,1.9000,1.3000,"1,2",2
7,6.6000,2.5000,0.1000,"1,2",
8,6.7000,1.7000,0.0000,"1,2",NaN
9,10.3000,5.4000,0.0000,"1,2",NaN
10,8.9000,4.2000,0.0000,"1,2",NaN

10

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4","2,3"
2,14.8000,4.6000,7.2000,"1,2,3,4","2,3,4"
3,13.1000,5.0000,4.8000,"1,2,3,4","1,2,4"
4,18.6000,5.6000,0.0000,"1,2,3,4",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4",NaN
6,9.6000,1.9000,1.3000,"1,2,3","2,3"
7,6.6000,2.5000,0.1000,"1,2,3","2,3"
8,6.7000,1.7000,0.0000,"1,2,3,4",NaN
9,10.3000,5.4000,0.0000,"1,2,3",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4","3,4"

11

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15,16","3,5,6,8,9,11,12,15,16"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11,14,15","3,4,5,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15","1,2,3,6,7,10,11,13,14,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14,15,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14,16","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,12,13,14,15","1,4,6,7,8,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14,16",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,14,15,16",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13,14,15,16",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15","2,3,4,5,6,7,8,11,13,14"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15,16","1,3,4,6,7,9,10,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,15,16","2,5,8,9,10,15,16"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14,15,16","1,2,4,5,6,7,8,9,13,15,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15,16","2,3,4,6,7,9,10,12,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15,16",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15,16","3,4,7,8,9,10,12,13,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,9,10,11,12,13,14,15","1,3,6,9,10,12,13,14,15"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15,16","1,8,13,14,16"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15,16",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13,14,15","1,2,3,4,5,6,7,9,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15","1,2,3,4,8,12,14,15"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15,16","2,3,4,7,8,10,11,12,13,14,16"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14,15,16","2,4,5,8,9,11,14,15,16"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14,15",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14,15","1,3,7,8,11,12,13,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15,16","1,3,4,6,8,9,10,11,12,15"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15,16","1,2,6,7,10,12,15"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15,16","3,5,7,10,11,12,14,16"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,9,10,11,12,14,15,16","5,6,9,10,11,12,14,15,16"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,16","1,2,3,4,5,6,8,9,10,13,14,15,16"
33,8.1000,8.8000,0.2000,"1,2,3,5,7,9,11,12,13,14,15,16","1,3,7,9,13,14,15,16"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14,16","1,2,5,6,7,9,11,16"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14,16","1,2,3,4,7,8,9,10,11,13,14,16"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15","2,3,5,6,7,8,11,14,15"
37,15.9000,8.4000,0.0000,"1,2,3,4,5,8,9,11,12,13,14,15,16",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,13,14,15,16",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13,15,16","2,3,4,6,8,9,11,16"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14,15,16","1,3,4,5,6,12,14"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9,10,11,12,14,15,16","3,5,6,8,9,10,11,14,15,16"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13,14,16","1,4,5,6,7,9,10,12,13,14,16"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13,14,15,16","4,6,7,8,9,10,11,14,15,16"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13,14,15,16","1,3,5,6,7,9,10,11,12,13,14,16"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,9,10,11,13,14","1,3,6,7,8,10,11,14"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11,13,14,15,16","1,2,4,5,7,8,10,11,13,14,15"

47

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9","2,3,6,7,9"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","3,4,5,7,8"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8","1,2,4,5,6,7"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9","2,3,4,6,7,8"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,9","3,4,5,6,7,9"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9","1,2,5,8,9"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9","1,2,5,6,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"2,3,4,5,7",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9","3,4,7,8,9"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9","1,2,3,4,6,9"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9","1,2,4,5,7,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9","2,5,6,7"
22,23.9000,9.4000,4.7000,"1,2,3,6,7,8,9","1,2,6,7,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9","2,3,4,6,8"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8","1,2,3,4,5,6"

24

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17,18,19","2,3,6,9,11,12,14,15,17,18"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17,18,19","3,4,5,7,8,11,14,15,18,19"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17,18,19","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18,19",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17,18,19",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14,18,19","1,2,3,6,11,12,13,14,18,19"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14,15,16,17,18,19","1,3,5,6,7,8,9,13,15,18,19"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15,17,18,19",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,9,11,12,13,14,15,16,17,19",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,10,11,12,13,14,15,16,17,19",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,17,19","2,3,4,6,7,8,12,13,14,15,19"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15,16,19","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17,19","1,2,5,8,9,10,11,14,15,16,19"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15,16,18","1,2,5,6,8,9,10,12,14,15,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,14,15,16,17,18,19","2,3,4,5,6,10,15,16,18,19"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12,14,15,16,17,18,19",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17,18,19","3,4,7,8,9,11,12,13,14,16,18"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,19","1,2,3,4,6,9,10,11,12,15,19"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17,19","1,2,4,5,7,8,10,12,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13,14,16,17,18,19",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13,14,15,17,18,19","2,5,6,7,11,13,14,15,18,19"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15,18,19","1,2,6,7,8,12,13,14,19"

22

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,6,7,8,9,10,11,12","2,3,5,6,7,8,9,10,11,12"
2,14.8000,4.6000,7.2000,"1,3,4,5,6,7,8,9,10,11,12","1,3,5,6,7,8,9,10,11,12"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,8,9,10,11,12","2,3,5,6,7,8,9,10,11,12"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7,8,9,10,11,12",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,7,8,9,10,11,12",NaN

5

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14","2,3,6,9,11,12,14"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14","2,3,4,5,7,8,11,14"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13","1,2,4,5,6,7,10,11,13"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14","1,3,5,6,7,8,9,12,13"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11,12,13,14",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14","2,3,4,6,7,8,12,13,14"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12","3,4,5,6,7,9,10,11,12"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14","1,2,5,6,8,9,10,12,14"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14","1,2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14",NaN
17,24.0000,4.9000,9.9000,"1,3,4,5,7,8,9,11,12,13,14","3,4,7,8,9,11,12,13,14"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14","1,2,3,4,6,9,10,11,12"

18

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7,8,9,10,11","2,3,5,7,9,10,11"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11","1,2,3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,8,10,11","1,2,4,5,6,8,10,11"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11","2,3,5,6,8,11"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9","1,2,3,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,10,11",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,10,11",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11","3,4,6,7,8,9,11"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11","3,4,5,6,7,9,11"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11","1,5,6,8,9,10,11"

13

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5","2,3"
2,14.8000,4.6000,7.2000,"1,2,3,4,5","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5","1,2,4,5"
4,18.6000,5.6000,0.0000,"2,3,5",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5","1,2,3"
7,6.6000,2.5000,0.1000,"1,2,3,5","1,3,5"
8,6.7000,1.7000,0.0000,"1,2,3",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5",NaN
11,15.9000,3.4000,8.6000,"2,3,4","2,3,4"
12,1.0000,2.8000,5.4000,"1,3,4,5","3,4,5"
13,10.1000,1.2000,0.8000,"1,2,5","1,2,5"
14,1.0000,2.0000,3.2000,"1,2,4,5","1,2,5"
15,15.4000,9.5000,5.3000,"1,2,3,4,5","1,2,3,4,5"
16,16.2000,7.6000,0.0000,"2,3,4,5",NaN
17,24.0000,4.9000,9.9000,"1,3,4","3,4"
18,7.1000,2.0000,5.7000,"1,2,3,4,5","1,3,4"
19,17.6000,3.9000,9.0000,"1,2,3,4,5","1,2,4,5"
20,8.8000,7.3000,0.0000,"1,2,4,5",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5","2,5"
22,23.9000,9.4000,4.7000,"1,2,3","1,2"
23,13.2000,1.7000,8.2000,"2,3,4","2,3,4"
24,15.4000,9.1000,8.2000,"1,2,3,4,5","1,2,3,4,5"
25,1.0000,1.2000,0.0000,,NaN
26,18.2000,9.5000,0.5000,"1,2,3,4","1,2,3,4"
27,16.9000,9.8000,5.0000,"1,3,4,5",4
28,12.6000,0.3000,3.6000,"1,2,3,4,5","1,4,5"
29,20.0000,8.1000,5.6000,"3,5","3,5"
30,4.9000,1.6000,0.0000,"2,4,5",NaN
31,11.2000,2.4000,3.7000,"1,2,4,5","1,2,5"
32,12.8000,8.2000,1.2000,"1,2,4,5","1,2,4,5"

32

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12","2,3,6,7,9,11,12"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11","3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13","1,2,4,5,6,7,10,11,13"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13","1,2,3,6,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13","1,3,5,6,7,8,9,13"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13","2,3,4,6,7,8,12,13"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12","3,4,5,6,7,9,10,11,12"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13","1,2,5,6,8,9,10,12"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10","1,2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13","3,4,7,8,9,11,12,13"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13","1,2,3,4,6,9,10,11,12"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13","1,2,4,5,7,8,10,12,13"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13","2,5,6,7,11,13"
22,23.9000,9.4000,4.7000,"1,2,3,6,7,8,9,11,12,13","1,2,6,7,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12","2,3,4,6,8,10,11"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13","1,2,3,4,5,6,11,12"
25,1.0000,1.2000,0.0000,"2,5,6,7,8,9,10,11,12,13",NaN

25

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,9,10,11,12","2,3,6,9,11,12"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11","3,4,5,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13","1,2,4,5,6,7,10,11,13"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,11,12,13","1,2,3,6,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13","1,3,5,6,7,8,9,13"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13","2,3,4,6,7,8,11,12,13"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12","3,4,5,6,7,9,10,11,12"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13","1,2,5,6,8,9,10,12"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10","1,2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13","3,4,7,8,9,11,12,13"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13","1,3,4,6,9,10,11,12"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13","1,2,4,5,7,8,10,12,13"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,13","2,5,6,7,11,13"
22,23.9000,9.4000,4.7000,"1,2,3,6,7,8,9,11,12,13","1,2,6,7,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11","2,3,4,6,8,10,11"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12","1,2,3,4,5,6,11,12"
25,1.0000,1.2000,0.0000,"6,7,8,9,10,11,12,13",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12","1,2,3,4,6,7,8,10,11,12"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11,12,13","4,6,8,9,10,11,12,13"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10,11,12,13","1,4,5,7,8,10,12,13"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,13","3,5,7,8,10,11,12"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8,11,12",NaN
31,11.2000,2.4000,3.7000,"1,2,4,5,7,8,9,10,11,12","1,2,5,7,9,11,12"
32,12.8000,8.2000,1.2000,"1,2,4,5,6,7,8,9,10,11,12,13","1,2,4,5,6,8,9,10,12,13"

32

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12","2,3,6,7,9,11,12"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11","2,3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13","1,2,4,5,6,7,10,11,13"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13","1,2,3,6,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13","1,3,5,6,7,8,9,13"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11,12,13",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13","2,3,4,6,7,8,11,12,13"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12","3,4,5,6,7,9,10,11,12"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13","1,2,5,6,8,9,10,12"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10","1,2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,12",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13","3,4,7,8,9,11,12,13"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13","1,2,3,4,6,9,10,11,12"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13","1,2,4,5,7,8,10,12,13"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,9,11,13","2,5,6,7,11,13"

21

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15","3,5,6,8,11,12,15"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11,14,15","3,4,5,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15","1,2,3,7,10,11,13,14,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"3,5,7,8,11,12,13,14,15",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,14,15","1,4,6,7,8,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15","2,3,4,5,6,7,8,11,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15","1,3,4,6,7,9,10,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,14,15","2,5,8,9,10,15"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,15","1,2,4,5,6,7,8,9,13,15"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15","2,3,4,7,9,10,12,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13,14,15","1,3,6,9,10,12,13,14,15"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15","1,8,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11,13,14,15","1,2,3,4,5,6,7,9,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15","1,2,3,4,8,12,14,15"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15","2,3,4,7,8,10,11,12,13,14"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9,11,12,14,15","2,4,5,8,9,11,14,15"
25,1.0000,1.2000,0.0000,"3,5,6,7,8,9,10,11,12,13,14,15",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,10,11,12,13,14,15","1,3,7,8,10,11,12,13,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15","1,3,4,6,8,9,10,11,12,15"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15","1,2,6,7,8,10,12,15"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15","3,5,7,10,11,12,14"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12,14,15","5,6,9,10,11,14,15"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,5,6,8,9,10,13,14,15"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,12,13,14,15","1,3,7,9,13,14,15"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14","1,2,3,4,7,8,9,10,11,13,14"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15","2,3,5,8,11,14,15"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14,15",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15",NaN

38

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,5","2,3,4,5"
2,14.8000,4.6000,7.2000,"1,2,3,4,5","2,3,4,5"

2

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15,16,17","3,5,6,8,11,12,15,16,17"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11,14,15","3,4,5,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15,17","1,2,3,7,10,11,13,14,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"3,5,7,8,11,12,13,14,15,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,11,12,13,14,16","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,14,15","1,4,6,7,8,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14,16,17",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15,17","2,3,4,5,7,8,11,13"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15,16","1,3,4,6,7,9,10,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,14,15,16,17","2,5,8,9,10,15,16,17"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,15,16","1,2,4,5,6,7,8,9,13,15,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15,16","2,3,4,6,7,9,10,12,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15,16,17",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15,16","3,4,7,8,9,10,12,13,16"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13,14,15,17","1,3,6,9,10,12,13,14,15,17"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15,16,17","1,8,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15,16,17",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11,13,14,15,17","1,2,3,4,5,6,7,9,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15,17","1,2,3,4,8,12,14,15"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,16,17","2,3,4,7,8,10,11,12,13,14,16,17"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9,11,12,14,15,16,17","2,4,5,8,9,11,14,15,17"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14,15,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,10,11,12,13,14,15,17","1,3,7,8,10,11,12,13,14,15,17"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15,16,17","1,3,4,6,8,9,10,11,12,15,17"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15,16,17","1,2,6,7,8,10,12,15,17"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15,16,17","3,5,7,10,11,12,14,15,16,17"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12,14,15,16,17","5,6,9,10,11,14,15"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,16","1,2,3,4,5,6,8,9,10,13,14,15,16"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,12,13,14,15,16,17","1,3,7,9,13,14,15,16,17"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14,16,17","1,2,5,6,7,9,11,16"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14,16,17","1,2,3,4,7,8,9,10,11,13,14,16,17"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15,17","2,3,5,7,8,11,14,15,17"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14,15,16,17",NaN

37

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17","2,3,6,9,11,12,14,15,17"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15,16,17","2,3,4,5,7,8,11,14,15,17"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15,17","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14,17","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14,15,16,17","1,3,5,6,7,8,9,12,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12,13,14,15,17",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,10,11,12,13,14,15,16,17",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,17","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17","1,2,5,8,9,10,11,15,16"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12,13,14,15,16","1,2,5,6,8,9,10,12,14,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15,16,17","1,2,3,4,5,6,10,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15,16,17",NaN
17,24.0000,4.9000,9.9000,"1,3,4,5,7,8,9,11,12,13,14,16,17","3,4,7,8,9,11,12,13,14,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,6,9,10,11,12,15"

18

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15","2,3,4,5,6,7,8,9,10,11,12,13,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15","2,3,4,5,6,7,8,9,10,11,12,13,14,15"

2

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11,12,14,15","2,3,5,7,9,10,11,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15,16","1,2,3,4,5,7,8,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15","1,2,4,5,6,8,10,11,13,15"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13,14,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9,10,11,12,13","2,3,5,6,8,9,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,12,13,14,15,16","1,2,3,6,7,8,9,12,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11,12,13,14,15,16",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11,12,14,16",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9,11,12,13,15","3,4,6,7,8,9,11,15"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11,13,14,15","3,4,5,6,7,9,11,15"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13,15,16","1,5,6,8,9,10,11,13,15,16"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13,14,15,16","2,4,6,8,9,12,13,14,15,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11,14,15,16","1,2,3,4,5,6,14,15,16"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11,12,14,15,16",NaN
17,24.0000,4.9000,9.9000,"1,2,3,4,5,7,8,9,11,12,13,14,16","1,3,4,7,8,9,11,13,16"

17

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,6","2,3,6"
2,14.8000,4.6000,7.2000,"1,2,3,5,6","2,3,6"
3,13.1000,5.0000,4.8000,"2,3,4,5,6","2,3,5,6"
4,18.6000,5.6000,0.0000,"1,2,4,5,6",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6","3,5,6"

6

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,6,7,8","2,3,4,7,8"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","1,2,3,7,8"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,8","2,3,4,5,7,8"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8","2,3,5,7,8"
7,6.6000,2.5000,0.1000,"1,2,4,5,6,7,8","1,5,6,7,8"

7

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,9","2,3,6,9"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8","3,4,5,7"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8","1,2,4,5,6,7"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9","1,2,3,6"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,6,7,8,9",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9","2,3,4,6,7,8"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9","1,3,4,5,6,7,9"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9","1,2,5,8,9"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9","1,2,5,6,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9","1,2,3,4,5,6"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9","3,4,7,8,9"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9","1,3,4,6,9"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9","1,2,4,5,7,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9","2,5,6,7"
22,23.9000,9.4000,4.7000,"1,2,3,6,7,8,9","1,2,6,7,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9","2,3,4,6,8"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8","1,2,3,4,5,6"
25,1.0000,1.2000,0.0000,"6,7,8,9",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9","1,2,3,4,6,7,8"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9","4,6,8,9"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8","1,4,5,7,8"
29,20.0000,8.1000,5.6000,"3,5,7,8,9","3,5,7,8"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8",NaN
31,11.2000,2.4000,3.7000,"1,2,4,5,7,8,9","1,2,5,7,9"
32,12.8000,8.2000,1.2000,"1,2,4,5,6,7,8,9","1,2,4,5,6,8,9"
33,8.1000,8.8000,0.2000,"1,2,3,4,5,7,8,9","1,2,3,5,7,9"

33

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15,16,17,18","3,5,6,8,9,11,12,14,15,16,17"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11,14,15,18","3,4,5,11,14,15,18"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15,17,18","1,2,3,6,7,10,11,13,14,15,17,18"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14,15,16,17,18",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14,16,18","1,3,4,5,6,7,11,18"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,15,18","1,4,6,7,8,15,18"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14,16,17,18",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,14,15,16,17,18",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15,17,18","2,3,4,5,6,7,8,11,13,14,18"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15,16","1,3,4,6,7,9,10,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,15,16,17,18","2,5,8,9,10,15,16,17,18"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14,15,16,18","1,2,4,5,6,7,8,9,13,15,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15,16,18","2,3,4,7,9,10,12,15,16,18"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15,16,17,18",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15,16,18","3,4,7,8,9,10,12,13,16,18"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13,14,15,17,18","1,3,6,9,10,12,13,14,15,17"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,12,13,14,15,16,17","1,8,13,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15,16,17,18",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11,13,14,15,17,18","1,2,3,4,5,6,7,9,11,13,14,15,18"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15,17,18","1,2,3,4,8,12,14,15,18"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15,16,17,18","2,3,4,7,8,10,11,12,13,14,16,17,18"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14,15,16,17,18","2,4,5,8,9,11,14,15,17,18"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14,15,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14,15,17,18","1,3,7,8,11,12,13,14,15,17,18"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15,16,17","1,3,4,6,8,9,10,11,12,15"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15,16,17,18","1,2,6,7,8,10,12,15,17,18"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15,16,17,18","3,5,7,10,11,12,14,16,17,18"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12,14,15,16,17","5,6,9,10,11,14,15"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,18","1,2,3,4,5,6,8,9,10,13,14,15,16"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,12,13,14,15,16,17,18","1,3,7,9,13,14,15,16,17"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14,16,17,18","1,2,5,6,7,9,11,16,18"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14,16,17,18","1,2,3,4,7,8,9,10,11,13,14,16,17,18"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15,17,18","2,3,5,8,11,14,15,17,18"
37,15.9000,8.4000,0.0000,"1,2,3,4,5,8,9,11,12,13,14,15,16,17,18",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15,17,18",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,11,13,14,15,16,17,18",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13,15,16,17,18","2,3,4,6,8,9,11,16,17"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14,15,16,17,18","1,3,4,5,6,12,14,17,18"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9,10,11,12,14,15,16,18","3,5,6,8,9,10,11,14,15,16"

42

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13","3,5,6,8,11,12"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11","3,4,5,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13","1,2,3,7,10,11,13"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13",NaN
5,14.1000,8.9000,0.0000,"3,5,7,8,11,12,13",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,11,12,13","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13","2,3,4,5,7,8,11,13"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12","1,3,4,6,7,9,10,12"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13","1,2,4,5,6,7,8,9,13"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12","2,3,4,6,7,9,10,12"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13","1,3,6,9,10,12,13"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13","1,8,13"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11,13","1,2,3,4,5,6,7,9,11,13"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13","1,2,3,4,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13","2,3,4,7,8,10,11,12,13"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9,11,12","2,4,5,8,9,11"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,10,11,12,13","1,3,7,8,10,11,12,13"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13","1,3,4,6,8,9,10,11,12"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13","1,2,6,7,8,10,12"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12","3,5,7,10,11,12"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12","5,6,9,10,11"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13","1,2,3,4,5,6,8,9,10,13"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,12,13","1,3,7,9,13"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13","1,2,3,4,7,8,9,10,11,13"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13","2,3,5,7,8,11"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13",NaN

37

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15,16,17","3,5,6,8,11,12,15,16,17"
2,14.8000,4.6000,7.2000,"3,4,5,7,11,14,15","3,4,11,14"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15,17","1,2,3,6,7,10,11,13,14,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14,15,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14,16","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,15","1,4,7,8,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14,16,17",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15,17","2,3,4,5,6,7,8,11,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15,16","1,3,4,6,7,9,10,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,15,16,17","2,5,8,9,10,15,16,17"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14,15,16","1,2,4,5,6,7,8,9,13,15,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15,16","2,3,4,7,9,10,12,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15,16,17",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15,16","3,4,7,8,9,10,12,13,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,9,10,11,12,13,14,15,17","1,3,6,9,10,12,13,14,15,17"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15,16,17","1,7,8,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15,16,17",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13,14,15,17","1,2,3,4,5,6,7,9,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15,17","1,2,3,4,8,12,14,15,17"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15,16,17","2,3,4,7,8,10,11,12,13,14,16,17"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14,15,16,17","2,4,5,8,9,11,14,15,17"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,13,14,15,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14,15,17","1,3,7,8,10,11,12,13,14,15,17"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15,16,17","1,3,4,6,8,9,10,11,12,13,15,17"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15,16,17","1,2,6,7,8,10,12,15,17"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15,16,17","3,5,7,10,11,12,14,16,17"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,9,10,11,12,14,15,16,17","1,5,6,9,10,11,12,14,15,16"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,16","1,2,3,4,5,6,8,9,10,13,14,15,16"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,13,14,15,16,17","1,3,7,9,13,14,15,16,17"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14,16,17","1,2,5,6,7,9,11,16"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14,16,17","1,2,3,4,7,8,9,10,11,13,14,16,17"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15,17","2,3,5,6,7,8,11,14,15,17"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14,15,16,17",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15,17",NaN
39,4.2000,4.6000,0.0000,"1,4,6,7,8,9,10,13,14,15,16,17",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13,15,16,17","2,3,4,6,8,9,11,16,17"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14,15,16,17","1,3,4,5,6,12,14,17"
42,13.5000,1.5000,9.0000,"3,5,6,7,8,9,10,11,12,14,15,16","3,5,6,8,9,10,11,14,15,16"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13,14,16,17","1,4,5,6,7,9,10,12,13,14,16,17"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13,14,15,16","4,6,7,8,9,10,11,13,14,15,16"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17","1,3,5,6,7,9,10,11,12,13,14,16,17"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,10,11,13,14,17","1,3,6,7,8,10,11,14,17"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11,13,14,15,16","1,2,4,5,7,8,10,11,13,14,15"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6,10,11,12,13,14,15,16","1,3,4,5,6,10,11,12,13,14,15,16"
49,4.4000,6.5000,2.4000,"2,3,4,6,8,9,10,11,12,13,14,15,16","2,4,6,8,9,10,11,12,13,14,15"
50,6.4000,4.6000,5.1000,"1,2,3,4,5,7,8,9,10,11,12,14,15,16,17","1,2,3,4,5,8,10,11,12,14,15,17"
51,14.9000,9.4000,0.0000,"1,2,4,8,9,10,11,13,14,15,16,17",NaN
52,22.6000,6.4000,7.4000,"1,2,3,4,5,7,8,9,11,12,13,14,15,16","1,2,3,4,5,8,9,12,13,15,16"
53,3.7000,2.4000,0.0000,"1,2,3,4,5,7,8,9,10,11,13,15,16,17",NaN
54,19.0000,3.8000,9.7000,"1,2,3,4,5,7,8,9,11,14,15,16,17","1,2,3,4,5,8,9,11,14,16,17"
55,4.5000,2.2000,0.0000,"2,4,9,11,12,13,14,15,17",NaN
56,18.2000,6.2000,6.9000,"1,2,3,4,5,6,7,8,10,11,12,13,15,16,17","1,2,3,4,5,6,7,10,12,15,16,17"
57,16.7000,5.7000,2.2000,"2,3,4,5,6,7,8,9,10,11,12,13,14,17","2,4,5,6,7,8,9,10,14"

57

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15","3,5,6,8,11,12,15"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11,14,15","3,4,5,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15","1,2,3,7,10,11,13,14,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"3,5,7,8,11,12,13,14,15",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,14,15","1,4,6,7,8,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15","2,3,4,5,6,7,8,11,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15","1,3,4,6,7,9,10,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,14,15","2,5,8,9,10,15"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,15","1,2,4,5,6,7,8,9,13,15"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15","2,3,4,7,9,10,12,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13,14,15","1,3,6,9,10,12,13,14,15"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15","1,8,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11,13,14,15","1,2,3,4,5,6,7,9,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15","1,2,3,4,8,12,14,15"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15","2,3,4,7,8,10,11,12,13,14"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9,11,12,14,15","2,4,5,8,9,11,14,15"
25,1.0000,1.2000,0.0000,"3,5,6,7,8,9,10,11,12,13,14,15",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,10,11,12,13,14,15","1,3,7,8,10,11,12,13,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15","1,3,4,6,8,9,10,11,12,15"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15","1,2,6,7,8,10,12,15"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15","3,5,7,10,11,12,14"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12,14,15","5,6,9,10,11,14,15"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,5,6,8,9,10,13,14,15"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,12,13,14,15","1,3,7,9,13,14,15"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14","1,2,3,4,7,8,9,10,11,13,14"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15","2,3,5,8,11,14,15"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14,15",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15",NaN

38

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10","2,3,5,7,9,10"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10","2,3,4,5,7,8,10"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10","1,2,4,5,6,8,10"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,10",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10","2,3,5,6,8,10"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,10","3,6,7,8,9,10"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,10",NaN
9,10.3000,5.4000,0.0000,"1,2,3,6,7,8,9,10",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,9,10",NaN

10

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15,16,17","3,5,6,8,9,11,12,15,16,17"
2,14.8000,4.6000,7.2000,"2,3,4,5,7,8,11,14,15","3,4,5,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15,17","1,2,3,7,10,11,13,14,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17",NaN
5,14.1000,8.9000,0.0000,"3,5,7,8,11,12,13,14,15,16,17",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,11,12,13,14,16","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,14,15","1,4,6,7,8,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,16,17",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15,17","2,3,4,5,6,7,8,11,13"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15,16","1,3,4,6,7,9,10,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,14,15,16,17","2,5,8,9,10,15,16,17"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,15,16","1,2,4,5,6,7,8,9,13,15,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15,16","2,3,4,6,7,9,10,12,15,16"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15,16,17",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15,16","3,4,7,8,9,10,12,13,16"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,9,10,11,12,13,14,15,17","1,3,6,9,10,12,13,14,15,17"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15,16,17","1,8,13,14,16,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15,16,17",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,8,9,11,13,14,15,17","1,2,3,4,5,6,7,9,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,14,15,17","1,2,3,4,8,12,14,15"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,16,17","2,3,4,7,8,10,11,12,13,14,16,17"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,9,11,12,14,15,16,17","2,4,5,8,9,11,14,15,17"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14,15,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,10,11,12,13,14,15,17","1,3,7,8,10,11,12,13,14,15,17"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15,16,17","1,3,4,6,8,9,10,11,12,15,17"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,11,12,13,15,16,17","1,2,4,6,7,8,10,12,15,17"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15,16,17","3,5,7,10,11,12,14,15,16,17"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12,14,15,16,17","5,6,9,10,11,14,15"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,16","1,2,3,4,5,6,8,9,10,13,14,15,16"
33,8.1000,8.8000,0.2000,"1,2,3,5,7,9,11,12,13,14,15,16,17","1,3,7,9,13,14,15,16,17"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14,15,16,17","1,2,5,6,7,9,11,16"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14,16,17","1,2,3,4,7,8,9,10,11,13,14,16,17"

35

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6","3,5,6"
2,14.8000,4.6000,7.2000,"3,4,5,7","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7","1,2,3,7"
4,18.6000,5.6000,0.0000,"2,3,5,6,7",NaN
5,14.1000,8.9000,0.0000,"3,5,7",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7","1,3,4,5,6,7"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7","1,4,6,7"
8,6.7000,1.7000,0.0000,"1,2,3,6,7",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7","2,3,4,5,7"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7","1,3,4,6,7"
13,10.1000,1.2000,0.8000,"1,2,5","2,5"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7","1,2,4,5,6,7"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7","2,3,4,6,7"
16,16.2000,7.6000,0.0000,"2,3,4,5,7",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7","3,4,7"
18,7.1000,2.0000,5.7000,"1,3,4,6","1,3,6"
19,17.6000,3.9000,9.0000,"1,2,4,5,7",1
20,8.8000,7.3000,0.0000,"1,2,4,5,7",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7","1,2,3,4,5,6,7"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7","1,2,3,4"
23,13.2000,1.7000,8.2000,"2,3,4,6,7","2,3,4,7"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6","2,4,5"
25,1.0000,1.2000,0.0000,"3,6,7",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7","1,3,7"
27,16.9000,9.8000,5.0000,"1,3,4,6","1,3,4,6"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7","1,2,6,7"
29,20.0000,8.1000,5.6000,"3,5,7","3,5,7"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7","5,6"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6","1,2,3,4,5,6"
33,8.1000,8.8000,0.2000,"1,2,3,7","1,3,7"
34,6.9000,8.6000,1.3000,"1,2,5,6,7","1,2,5,6,7"
35,17.6000,3.8000,0.5000,"1,2,3,4,7","1,2,3,4,7"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7","2,3,5,7"
37,15.9000,8.4000,0.0000,"2,3,4,5",NaN

37

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10","2,3,5,7,9,10"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10","2,3,4,5,7,8"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10","1,2,4,5,6,8,10"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10","2,3,5,6,8,9"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9","2,3,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,7,8,9",NaN
9,10.3000,5.4000,0.0000,"1,2,3,6,7,8,9,10",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,9,10",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9","3,4,6,7,8,9"

11

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,11,12,13,14,15","3,5,6,8,9,11,12,15"
2,14.8000,4.6000,7.2000,"3,4,5,7,11,14,15","3,4,5,11,14"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15","1,2,3,6,7,10,11,13,14,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14,15",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,15","1,4,6,7,8,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,11,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15","2,3,4,5,6,7,8,11,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15","1,3,4,6,7,9,10,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,14,15","2,5,8,9,10,15"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14,15","1,2,4,5,6,7,8,9,13,15"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15","2,3,4,7,9,10,12,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,8,9,10,11,12,13,14,15","1,3,6,9,10,12,13,14,15"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15","1,7,8,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13,14,15","1,2,3,4,5,6,7,9,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15","1,2,3,4,8,12,14,15"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15","2,3,4,7,8,10,11,12,13,14"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14,15","2,4,5,8,9,11,14,15"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14,15",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14,15","1,3,7,8,11,12,13,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15","1,3,4,6,8,9,10,11,12,13,15"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,11,12,13,15","1,2,6,7,8,10,12,15"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15","3,5,7,10,11,12,14"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,8,9,10,11,12,14,15","1,5,6,9,10,11,12,14,15"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,5,6,8,9,10,13,14,15"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,13,14,15","1,3,7,9,13,14,15"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14","1,2,3,4,7,8,9,10,11,13,14"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15","2,3,5,7,8,11,14,15"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14,15",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,13,14,15",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13,15","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14,15","1,3,4,5,6,12,14"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9,10,11,12,14,15","3,5,6,8,9,10,11,14,15"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13,14","1,4,5,6,7,9,10,12,13,14"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13,14,15","4,6,7,8,9,10,11,13,14,15"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13,14,15","1,3,5,6,7,9,10,11,12,13,14"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,10,11,13,14","1,3,6,7,8,10,11,14"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11,13,14,15","1,2,4,5,7,8,10,11,13,14,15"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6,10,11,12,13,14,15","1,3,4,5,6,10,11,12,13,14,15"
49,4.4000,6.5000,2.4000,"2,3,4,6,8,9,10,11,12,13,14,15","2,4,6,8,9,10,11,12,13,14,15"
50,6.4000,4.6000,5.1000,"1,2,3,4,5,7,8,9,10,11,12,14,15","1,2,3,4,5,8,10,11,12,14,15"
51,14.9000,9.4000,0.0000,"1,2,3,4,8,9,10,11,13,14,15",NaN
52,22.6000,6.4000,7.4000,"1,2,3,4,5,7,8,9,11,12,13,14,15","1,2,3,4,5,8,9,12,13,15"
53,3.7000,2.4000,0.0000,"1,2,3,4,5,7,8,9,10,11,13,15",NaN
54,19.0000,3.8000,9.7000,"1,2,3,4,5,7,8,9,11,12,14,15","1,2,3,4,5,8,9,11,14,15"
55,4.5000,2.2000,0.0000,"2,4,9,11,12,13,14,15",NaN

55

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12","2,3,5,6,7,9,11,12"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11","3,4,5,7,8,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11","1,2,4,5,6,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12","1,2,3,6,11,12"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12","1,3,5,6,7,8,9"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,9,10,11,12",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,9,11,12",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,10,11,12",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12","2,3,4,6,7,8,12"
12,1.0000,2.8000,5.4000,"1,3,4,5,6,7,8,9,10,11,12","3,4,5,6,7,9,10,11,12"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11","1,2,5,8,9,10,11"
14,1.0000,2.0000,3.2000,"1,2,3,4,5,6,8,9,10,12","1,2,5,6,8,9,10,12"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10","2,3,4,5,6,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12","3,4,7,8,9,11,12"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12","1,2,3,4,6,9,10,11,12"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12","1,2,4,5,7,8,10,12"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11","2,5,6,7,11"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12","1,2,6,7,8,12"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,9,10,11,12","2,3,4,6,8,10,11"

23

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11,12,13,14,15","3,5,6,8,9,11,12,15"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11,14,15","3,4,5,11,14,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15","1,2,3,6,7,10,11,13,14,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14,15",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,14,15","1,4,6,7,8,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15","2,3,4,5,6,7,8,11,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15","1,3,4,6,7,9,10,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,15","2,5,8,9,10,15"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,15","1,2,4,5,6,7,8,9,13,15"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15","2,3,4,6,7,9,10,12,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15","3,4,7,8,9,10,12,13"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11,12,13,14,15","1,3,6,9,10,12,13,14,15"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15","1,8,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13,14,15","1,2,3,4,5,6,7,9,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15","1,2,3,4,8,12,14,15"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15","2,3,4,7,8,10,11,12,13,14"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14,15","2,4,5,8,9,11,14,15"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14,15",NaN
26,18.2000,9.5000,0.5000,"1,3,4,7,8,10,11,12,13,14,15","1,3,7,8,11,12,13,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15","1,3,4,6,8,9,10,11,12,15"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,12,13,15","1,2,6,7,8,10,12,15"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15","3,5,7,10,11,12,14"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
31,11.2000,2.4000,3.7000,"1,5,6,7,9,10,11,12,14,15","5,6,9,10,11,14,15"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,2,3,4,5,6,8,9,10,13,14,15"
33,8.1000,8.8000,0.2000,"1,2,3,5,7,9,11,12,13,14,15","1,3,7,9,13,14,15"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14","1,2,3,4,7,8,9,10,11,13,14"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15","2,3,5,8,11,14,15"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14,15",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,13,14,15",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13,15","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14,15","1,3,4,5,6,12,14"
42,13.5000,1.5000,9.0000,"3,5,6,7,8,9,10,11,12,14,15","3,5,6,8,9,10,11,14,15"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13,14","1,4,5,6,7,9,10,12,13,14"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13,14,15","4,6,7,8,9,10,11,14,15"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13,14,15","1,3,5,6,7,9,10,11,12,13,14"

45

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11,12,14","2,3,5,7,9,10,11,14"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14","1,2,3,4,5,7,8,11,14"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13","1,2,4,5,6,8,10,11,13"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,12,13,14",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,7,8,9,10,11,12,13","2,3,5,6,8,9,11,12,13"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,12,13,14","1,2,3,6,7,8,9,12,13"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12,13,14",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11,12,13,14",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11,12,14",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9,11,12,13","3,4,6,7,8,9,11"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11,13,14","3,4,5,6,7,9,11"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13","1,5,6,8,9,10,11,13"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13,14","2,4,6,8,9,12,13,14"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11,14","1,2,3,4,5,6,14"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11,12,14",NaN
17,24.0000,4.9000,9.9000,"1,2,3,4,5,7,8,9,11,12,13,14","1,3,4,7,8,9,11,13"

17

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,7,8,9,10,11,12,14,15,16","2,3,5,7,9,10,11,14,15,16"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,9,10,11,14,15,16","1,2,3,4,5,7,8,11,14,15,16"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,12,13,15,16","1,2,4,5,6,8,10,11,13,15,16"
4,18.6000,5.6000,0.0000,"1,2,3,4,5,6,7,8,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13,14,15,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,15,16","2,3,5,6,8,11,12,13,15,16"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,14,15,16","1,2,3,6,7,8,9,12,13,15,16"
8,6.7000,1.7000,0.0000,"1,2,3,4,6,8,9,11,12,13,14,15,16",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,10,11,12,13,14,15,16",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,8,9,10,11,12,14,15,16",NaN
11,15.9000,3.4000,8.6000,"1,2,3,4,6,7,8,9,11,12,13,15,16","3,4,6,7,8,9,11,15,16"
12,1.0000,2.8000,5.4000,"2,3,4,5,6,7,8,9,11,13,14,15,16","3,4,5,6,7,9,11,15,16"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13,14,15,16","1,5,6,8,9,10,11,13,15,16"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13,14,15,16","2,4,6,8,9,10,12,13,14,15,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,8,10,11,14,15,16","1,2,3,4,5,6,11,14,15,16"

15

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17,18","2,3,6,9,11,12,14,15,17,18"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17,18","3,4,5,7,11,15,18"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17,18","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17,18",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,11,12,13,14,18","1,2,3,6,11,12,14,18"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,17,18","1,3,5,6,7,8,9,13,15,18"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15,17,18",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,17","2,3,4,6,7,8,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11,12,15,16","3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17","1,2,5,8,9,10,11,15,16"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15,16,18","1,2,5,6,8,9,10,12,14,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15,16,17,18","1,2,3,4,5,6,10,15,16,18"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15,16,17,18",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17,18","3,4,7,8,9,11,12,13,14,16,18"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,12,13,14,16,17,18",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,12,13,14,15,17,18","2,5,6,7,11,13,14,15,17,18"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15,18","1,2,6,7,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15,16,17,18","2,3,4,6,8,10,11,16,17,18"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,15,16,17,18","1,2,3,4,5,6,11,12,15,16,17,18"
25,1.0000,1.2000,0.0000,"5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12,14,15,17,18","1,3,4,7,10,11,12,14,15,17,18"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11,12,13,15,16,18","4,6,8,9,10,11,12,13,15,16"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10,11,12,13,14,15,16,18","1,4,5,7,8,10,12,13,16"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,13,14,15,16,17,18","3,5,7,8,9,10,11,12,14,15,16,17,18"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8,11,12,14,15,16,17,18",NaN

30

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19","2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19"
2,14.8000,4.6000,7.2000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19","1,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19"
3,13.1000,5.0000,4.8000,"2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19","2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19"
4,18.6000,5.6000,0.0000,"1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19",NaN

5

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"1,2,3,4,6","2,3,4"
2,14.8000,4.6000,7.2000,"1,2,3,5","2,3"
3,13.1000,5.0000,4.8000,"2,3,4,5,6","2,3,4,5"
4,18.6000,5.6000,0.0000,"2,4,5,6",NaN
5,14.1000,8.9000,0.0000,"1,2,4,5,6",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6","1,2,3,5"
7,6.6000,2.5000,0.1000,"1,4,5,6","1,6"
8,6.7000,1.7000,0.0000,"1,2,3,4,6",NaN
9,10.3000,5.4000,0.0000,"1,2,3,6",NaN

9

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,4","2,3"
2,14.8000,4.6000,7.2000,"1,3,4","1,3"
3,13.1000,5.0000,4.8000,"2,3,4","2,3"
4,18.6000,5.6000,0.0000,"1,2,4",NaN
5,14.1000,8.9000,0.0000,"1,2,4",NaN

5

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5","3,5"
2,14.8000,4.6000,7.2000,"3,4,5","3,4,5"
3,13.1000,5.0000,4.8000,"1,2,3,4,5","1,2,3"
4,18.6000,5.6000,0.0000,"2,3,5",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5","1,3,4,5"
7,6.6000,2.5000,0.1000,"1,3,4,5","1,4"
8,6.7000,1.7000,0.0000,"1,2,3",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5",NaN
10,8.9000,4.2000,0.0000,"3,4,5",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5","2,3,4,5"
12,1.0000,2.8000,5.4000,"1,2,3,4,5","1,3,4"
13,10.1000,1.2000,0.8000,"1,2,5","2,5"
14,1.0000,2.0000,3.2000,"1,2,4,5","1,2,4,5"
15,15.4000,9.5000,5.3000,"1,2,3,4,5","2,3,4"
16,16.2000,7.6000,0.0000,"2,3,4,5",NaN
17,24.0000,4.9000,9.9000,"1,3,4","3,4"
18,7.1000,2.0000,5.7000,"1,3,4","1,3"
19,17.6000,3.9000,9.0000,"1,2,4,5",1
20,8.8000,7.3000,0.0000,"1,2,4,5",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5","1,2,3,4,5"
22,23.9000,9.4000,4.7000,"1,2,3,4","1,2,3,4"
23,13.2000,1.7000,8.2000,"2,3,4","2,3,4"
24,15.4000,9.1000,8.2000,"1,2,3,4,5","2,4,5"
25,1.0000,1.2000,0.0000,3,NaN
26,18.2000,9.5000,0.5000,"1,2,3,4","1,3"
27,16.9000,9.8000,5.0000,"1,3,4","1,3,4"
28,12.6000,0.3000,3.6000,"1,2,4,5","1,2"
29,20.0000,8.1000,5.6000,"3,5","3,5"
30,4.9000,1.6000,0.0000,"1,2,3,4,5",NaN
31,11.2000,2.4000,3.7000,"1,5",5
32,12.8000,8.2000,1.2000,"1,2,3,4,5","1,2,3,4,5"
33,8.1000,8.8000,0.2000,"1,2,3","1,3"
34,6.9000,8.6000,1.3000,"1,2,5","1,2,5"
35,17.6000,3.8000,0.5000,"1,2,3,4","1,2,3,4"
36,11.0000,5.7000,2.3000,"2,3,4,5","2,3,5"
37,15.9000,8.4000,0.0000,"1,2,3,4,5",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5",NaN
39,4.2000,4.6000,0.0000,"1,2,4",NaN
40,11.4000,9.1000,2.1000,"2,3,4","2,3,4"
41,16.4000,7.7000,0.6000,"1,3,4,5","1,3,4,5"
42,13.5000,1.5000,9.0000,"3,4,5","3,5"

42

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,11,12,13,14,15,16,17,18,19","3,5,6,8,9,11,12,15,16,17,19"
2,14.8000,4.6000,7.2000,"3,4,5,7,11,14,15,18,19","3,4,5,11,14,18"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11,13,14,15,17,18","1,2,3,6,7,10,11,13,14,15,17,18"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18,19",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11,12,13,14,15,16,17,18,19",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,8,11,12,13,14,16,18,19","1,3,4,5,6,7,11,18,19"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9,13,15,18,19","1,4,6,7,8,15,18,19"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11,12,13,14,16,17,18,19",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10,11,12,13,14,15,16,17,18,19",NaN
10,8.9000,4.2000,0.0000,"1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11,12,13,14,15,17,18,19","2,3,4,5,6,7,8,11,13,14,15,18,19"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11,12,15,16","1,3,4,6,7,9,10,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11,14,15,16,17,18,19","2,5,8,9,10,15,16,17,18"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10,12,13,14,15,16,18","1,2,4,5,6,7,8,9,13,15,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10,12,14,15,16,18,19","2,3,4,7,9,10,12,15,16,18,19"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11,14,15,16,17,19",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11,12,13,14,15,16,18","3,4,7,8,9,10,12,13,16,18"
18,7.1000,2.0000,5.7000,"1,2,3,4,6,8,9,10,11,12,13,14,15,17,18,19","1,3,6,9,10,12,13,14,15,17,19"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11,12,13,14,15,16,17,19","1,7,8,13,14,16,17,19"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10,12,13,14,15,16,17,18,19",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11,13,14,15,17,18,19","1,2,3,4,5,6,7,9,11,13,14,15,18,19"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,12,13,14,15,17,18,19","1,2,3,4,8,12,14,15,17,18"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11,12,13,14,15,16,17,18","2,3,4,7,8,10,11,12,13,14,16,17,18"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11,12,14,15,16,17,18,19","2,4,5,8,9,11,14,15,17,18,19"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11,12,13,14,15,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,7,8,10,11,12,13,14,15,17,18,19","1,3,7,8,11,12,13,14,15,17,18,19"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11,12,13,15,16,17,19","1,3,4,6,8,9,10,11,12,13,15,17,19"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10,11,12,13,15,16,17,18,19","1,2,6,7,8,10,12,15,17,18,19"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,14,15,16,17,18,19","3,5,7,10,11,12,14,16,17,18,19"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,8,9,10,11,12,14,15,16,17,19","1,5,6,9,10,11,12,14,15,16"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,18","1,2,3,4,5,6,8,9,10,13,14,15,16"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11,13,14,15,16,17,18,19","1,3,7,9,13,14,15,16,17"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11,12,13,14,16,17,18","1,2,5,6,7,9,11,16,18"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11,13,14,16,17,18","1,2,3,4,7,8,9,10,11,13,14,16,17,18"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11,13,14,15,17,18,19","2,3,5,7,8,11,14,15,17,18,19"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11,12,13,14,15,16,17,18,19",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11,12,14,15,17,18,19",NaN
39,4.2000,4.6000,0.0000,"1,2,4,6,7,8,9,10,13,14,15,16,17,18,19",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11,13,15,16,17,18,19","2,3,4,6,8,9,11,16,17,19"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10,12,14,15,16,17,18,19","1,3,4,5,6,12,14,17,18,19"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9,10,11,12,14,15,16,18,19","3,5,6,8,9,10,11,14,15,16,18,19"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10,12,13,14,16,17,18","1,4,5,6,7,9,10,12,13,14,16,17,18"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11,12,13,14,15,16,19","4,6,7,8,9,10,11,13,14,15,16,19"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19","1,3,5,6,7,9,10,11,12,13,14,16,17,18,19"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,10,11,13,14,17,18,19","1,3,6,7,8,10,11,14,17,19"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11,13,14,15,16,18","1,2,4,5,7,8,10,11,13,14,15,18"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6,10,11,12,13,14,15,16,18,19","1,3,4,5,6,10,11,12,13,14,15,16,18,19"
49,4.4000,6.5000,2.4000,"2,3,4,6,8,9,10,11,12,13,14,15,16,19","2,4,6,8,9,10,11,12,13,14,15"
50,6.4000,4.6000,5.1000,"1,2,3,4,5,7,8,9,10,11,12,14,15,16,17,18","1,2,3,4,5,8,10,11,12,14,15,17,18"
51,14.9000,9.4000,0.0000,"1,2,3,4,8,9,10,11,13,14,15,16,17,18,19",NaN
52,22.6000,6.4000,7.4000,"1,2,3,4,5,7,8,9,11,12,13,14,15,16,18,19","1,2,3,4,5,8,9,12,13,15,16,18,19"
53,3.7000,2.4000,0.0000,"1,2,3,4,5,7,8,9,10,11,13,15,16,17,18,19",NaN
54,19.0000,3.8000,9.7000,"1,2,3,4,5,7,8,9,11,12,14,15,16,17,18","1,2,3,4,5,8,9,11,14,15,16,17,18"
55,4.5000,2.2000,0.0000,"2,4,9,11,12,13,14,15,17,19",NaN

55

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15,17,18","2,3,6,9,11,12,14,15,17,18"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15,16,17,18","3,4,5,7,11,15,18"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15,17,18","1,2,4,5,6,7,10,11,13,15,17"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15,16,17,18",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14,16,17,18",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14,18","1,2,3,6,11,12,13,14,18"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15,17,18","1,3,5,6,7,8,9,13,15,18"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15,17,18",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15,16,17",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15,17","2,3,4,6,7,8,11,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11,12,15,16","1,3,4,5,6,7,9,10,11,12,15,16"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15,16,17","1,2,5,8,9,10,11,15,16"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15,16,18","1,2,5,6,8,9,10,12,14,16,18"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15,16,17,18","1,2,3,4,5,6,10,15,16,18"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15,16,17,18",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14,16,17,18","3,4,7,8,9,11,12,13,14,16,18"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14,16,17","1,2,4,5,7,8,10,12,13,14,17"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13,14,16,17,18",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,12,13,14,15,17,18","2,5,6,7,11,13,14,15,17,18"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15,18","1,2,6,7,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15,16,17,18","2,3,4,6,8,10,11,14,16,17,18"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,15,16,17,18","1,2,3,4,5,6,11,12,15,16,17,18"
25,1.0000,1.2000,0.0000,"5,6,7,8,9,10,11,12,13,14,15,16,17",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12,14,15,17,18","1,2,3,4,6,7,8,10,11,12,14,15,17,18"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11,12,13,15,16,18","4,6,8,9,10,11,12,13,15,16"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10,11,12,13,14,15,16,18","1,4,5,7,8,10,12,13,16"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,13,14,15,16,17,18","3,5,7,8,9,10,11,12,14,15,16,17,18"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8,10,11,12,14,15,16,17,18",NaN
31,11.2000,2.4000,3.7000,"1,2,3,4,5,7,8,9,10,11,12,15,16,17,18","1,2,5,7,9,11,12,16,17"

31

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,7,8,9,10,11,12,14,15,16","2,3,5,7,9,11,14,15,16"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,10,11,14,15,16","2,3,4,5,7,8,11,14,15,16"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,8,10,11,12,13,15,16","1,2,4,5,6,8,10,11,13,15,16"
4,18.6000,5.6000,0.0000,"1,2,3,5,6,7,8,12,13,14,15,16",NaN
5,14.1000,8.9000,0.0000,"1,2,3,4,5,7,9,10,12,13,14,16",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,16","2,3,5,6,8,11,12,13,16"
7,6.6000,2.5000,0.1000,"1,2,3,6,7,8,9,12,13,14,15,16","2,3,6,7,8,9,12,13,15,16"
8,6.7000,1.7000,0.0000,"1,2,3,6,8,9,11,12,13,14,15,16",NaN
9,10.3000,5.4000,0.0000,"1,3,6,7,8,9,11,12,13,14,15,16",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,7,8,9,10,11,12,14,16",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,15,16","3,4,6,7,8,9,11,15,16"
12,1.0000,2.8000,5.4000,"3,4,5,6,7,8,9,11,13,14,15,16","3,4,5,6,7,9,11,15,16"
13,10.1000,1.2000,0.8000,"1,2,3,4,5,6,8,9,10,11,13,15,16","1,5,6,8,9,10,11,13,15,16"
14,1.0000,2.0000,3.2000,"2,4,5,6,7,8,9,10,12,13,14,15,16","2,4,6,8,9,12,13,14,15,16"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,8,10,11,14,15,16","1,2,3,4,5,6,14,15,16"
16,16.2000,7.6000,0.0000,"1,2,3,4,5,7,8,10,11,12,14,15,16",NaN

16

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,8,9,11","3,5,6,8,9,11"
2,14.8000,4.6000,7.2000,"3,4,5,7,8,11","3,4,5,11"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,10,11","1,2,3,6,7,10,11"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,11",NaN
6,9.6000,1.9000,1.3000,"1,2,3,4,5,6,7,11","1,3,4,5,6,7,11"
7,6.6000,2.5000,0.1000,"1,3,4,5,6,7,8,9","1,4,6,7,8"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,10,11",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,10",NaN
10,8.9000,4.2000,0.0000,"3,4,5,6,7,8,9,10,11",NaN
11,15.9000,3.4000,8.6000,"2,3,4,5,6,7,8,11","2,3,4,5,6,7,8,11"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,9,10,11","1,3,4,6,7,9,10"
13,10.1000,1.2000,0.8000,"1,2,5,8,9,10,11","2,5,8,9,10"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,7,8,9,10","1,2,4,5,6,7,8,9"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,7,9,10","2,3,4,6,7,9,10"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,10,11",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,10,11","3,4,7,8,9,10"
18,7.1000,2.0000,5.7000,"1,3,4,6,9,10,11","1,3,6,9,10"
19,17.6000,3.9000,9.0000,"1,2,4,5,7,8,10,11","1,8"
20,8.8000,7.3000,0.0000,"1,2,4,5,7,8,9,10",NaN
21,7.2000,1.5000,4.1000,"1,2,3,4,5,6,7,9,11","1,2,3,4,5,6,7,9,11"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8","1,2,3,4,8"
23,13.2000,1.7000,8.2000,"2,3,4,6,7,8,10,11","2,3,4,7,8,10,11"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,7,8,9,11","2,4,5,8,9,11"
25,1.0000,1.2000,0.0000,"3,6,7,8,9,10,11",NaN
26,18.2000,9.5000,0.5000,"1,3,4,7,8,10,11","1,3,7,8,11"
27,16.9000,9.8000,5.0000,"1,3,4,6,8,9,10,11","1,3,4,6,8,9,10,11"
28,12.6000,0.3000,3.6000,"1,2,4,5,6,7,8,10","1,2,6,7,10"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11","3,5,7,10,11"
30,4.9000,1.6000,0.0000,"1,2,3,4,5,6,7,8,9,10,11",NaN
31,11.2000,2.4000,3.7000,"1,2,5,6,7,9,10,11","1,5,6,9,10,11"
32,12.8000,8.2000,1.2000,"1,2,3,4,5,6,8,9,10,11","1,2,3,4,5,6,8,9,10"
33,8.1000,8.8000,0.2000,"1,2,3,7,9,11","1,3,7,9"
34,6.9000,8.6000,1.3000,"1,2,5,6,7,9,11","1,2,5,6,7,9,11"
35,17.6000,3.8000,0.5000,"1,2,3,4,7,8,9,10,11","1,2,3,4,7,8,9,10,11"
36,11.0000,5.7000,2.3000,"2,3,4,5,6,7,8,11","2,3,5,6,7,8,11"
37,15.9000,8.4000,0.0000,"2,3,4,5,8,9,11",NaN
38,12.7000,1.3000,0.0000,"1,2,3,5,6,7,8,9,10,11",NaN
39,4.2000,4.6000,0.0000,"1,4,6,7,8,9,10",NaN
40,11.4000,9.1000,2.1000,"2,3,4,6,8,9,11","2,3,4,6,8,9,11"
41,16.4000,7.7000,0.6000,"1,3,4,5,6,9,10","1,3,5,6"
42,13.5000,1.5000,9.0000,"3,4,5,6,7,8,9,10,11","3,5,6,8,9,10,11"
43,11.8000,9.7000,2.4000,"1,2,3,4,5,6,7,9,10","1,4,5,6,7,9,10"
44,16.4000,1.4000,8.1000,"2,4,6,7,8,9,10,11","4,6,7,8,9,10,11"
45,22.6000,7.8000,0.1000,"1,2,3,5,6,7,8,9,10,11","1,3,5,6,7,9,10,11"
46,21.0000,5.3000,6.4000,"1,3,6,7,8,10,11","1,3,6,7,8,10,11"
47,15.4000,4.3000,2.1000,"1,2,4,5,7,8,10,11","1,2,4,5,7,8,10,11"
48,11.5000,5.4000,3.2000,"1,2,3,4,5,6,10,11","4,5,6,11"

48

,Due Time,Stage-1 Processing Time,Stage-2 Processing Time,Stage-1 Machines,Stage-2 Machines
Job ID,,,,,
1,23.4000,9.3000,8.5000,"2,3,5,6,7,8,9,10,11,12,14,15","2,3,6,9,11,12,14,15"
2,14.8000,4.6000,7.2000,"1,2,3,4,5,7,8,11,14,15","3,4,5,7,11,15"
3,13.1000,5.0000,4.8000,"1,2,3,4,5,6,7,8,10,11,13,15","1,2,4,5,6,7,10,11,13,15"
4,18.6000,5.6000,0.0000,"2,3,5,6,7,8,10,12,13,14,15",NaN
5,14.1000,8.9000,0.0000,"1,3,4,5,7,8,10,11,12,13,14",NaN
6,9.6000,1.9000,1.3000,"1,2,3,5,6,8,9,10,11,12,13,14","1,2,3,6,11,12,13,14"
7,6.6000,2.5000,0.1000,"1,2,3,5,6,7,8,9,12,13,15","1,3,5,6,7,8,9,13,15"
8,6.7000,1.7000,0.0000,"1,2,3,6,7,8,9,10,11,12,13,14,15",NaN
9,10.3000,5.4000,0.0000,"1,2,3,5,7,8,11,12,13,14,15",NaN
10,8.9000,4.2000,0.0000,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15",NaN
11,15.9000,3.4000,8.6000,"2,3,4,6,7,8,9,11,12,13,14,15","2,3,4,6,7,8,11,12,13,14,15"
12,1.0000,2.8000,5.4000,"1,2,3,4,5,6,7,8,9,10,11,12,15","1,3,4,5,6,7,9,10,11,12,15"
13,10.1000,1.2000,0.8000,"1,2,5,6,8,9,10,11,13,14,15","1,2,5,8,9,10,11,15"
14,1.0000,2.0000,3.2000,"1,2,4,5,6,8,9,10,12,13,14,15","1,2,5,6,8,9,10,12,14"
15,15.4000,9.5000,5.3000,"1,2,3,4,5,6,9,10,11,14,15","1,2,3,4,5,6,10,15"
16,16.2000,7.6000,0.0000,"2,3,4,5,7,8,10,11,12,14,15",NaN
17,24.0000,4.9000,9.9000,"1,3,4,7,8,9,11,12,13,14","3,4,7,8,9,11,12,13,14"
18,7.1000,2.0000,5.7000,"1,2,3,4,5,6,8,9,10,11,12,13,14,15","1,3,4,6,9,10,11,12,15"
19,17.6000,3.9000,9.0000,"1,2,3,4,5,7,8,9,10,12,13,14","1,2,4,5,7,8,10,12,13,14"
20,8.8000,7.3000,0.0000,"1,2,4,5,6,7,8,10,11,12,13,14",NaN
21,7.2000,1.5000,4.1000,"1,2,3,5,6,7,8,9,11,12,13,14,15","2,5,6,7,11,13,14,15"
22,23.9000,9.4000,4.7000,"1,2,3,4,6,7,8,9,11,12,13,14,15","1,2,6,7,8,12,14"
23,13.2000,1.7000,8.2000,"2,3,4,6,8,9,10,11,12,14,15","2,3,4,6,8,10,11,14"
24,15.4000,9.1000,8.2000,"1,2,3,4,5,6,8,11,12,13,15","1,2,3,4,5,6,11,12,15"
25,1.0000,1.2000,0.0000,"5,6,7,8,9,10,11,12,13,14,15",NaN
26,18.2000,9.5000,0.5000,"1,2,3,4,6,7,8,9,10,11,12,14,15","1,2,3,4,6,7,8,10,11,12,14,15"
27,16.9000,9.8000,5.0000,"1,3,4,5,6,8,9,10,11,12,13,15","4,6,8,9,10,11,12,13,15"
28,12.6000,0.3000,3.6000,"1,2,3,4,5,7,8,10,11,12,13,14,15","1,4,5,7,8,10,12,13"
29,20.0000,8.1000,5.6000,"3,5,7,8,9,10,11,12,13,14,15","3,5,7,8,9,10,11,12,14,15"
30,4.9000,1.6000,0.0000,"2,4,5,6,7,8,10,11,12,14,15",NaN
31,11.2000,2.4000,3.7000,"1,2,3,4,5,7,8,9,10,11,12,15","1,2,5,7,9,11,12"

generated 153 cases