In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

# display settings
from IPython.display import display
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [2]:
np.random.seed(42)
t1 = np.random.randint(1, 100, 1000)
t2 = np.random.randint(1, 300, 300)
t3 = np.random.randint(1, 1000, 200)

m1 = np.random.randint(1, 20, 1000)
m2 = np.random.randint(5, 20, 30)
m3 = np.random.randint(10, 20, 200)

# print(t1 / m1)
# print(t2 / m2)
# print(t3 / m3)
# t1, t2, t3, m1, m2, m3

In [3]:
pt1 = np.random.randint(1, 10, 50)
d1 = pt1 * 1.2 + np.random.randn(50)
pt1, d1, pt1 / d1

(array([5, 3, 7, 5, 8, 1, 3, 3, 9, 5, 9, 9, 1, 2, 5, 4, 9, 7, 6, 7, 1, 1,
        8, 2, 9, 7, 6, 1, 1, 2, 6, 6, 2, 1, 5, 5, 2, 6, 9, 2, 2, 3, 7, 6,
        8, 8, 6, 3, 3, 1]),
 array([ 5.35403582,  2.80080799,  7.91725648,  5.04667139,  9.72267032,
         2.82467846,  3.92307927,  3.3476465 , 10.50818873,  4.43680919,
        11.68310978, 10.7221628 ,  1.01952009,  5.59310757,  6.29875291,
         4.04820895, 10.3736424 ,  9.54844571,  7.31327041,  6.96172202,
         2.11922893,  0.53185591, 11.47329778,  3.48004807, 10.3526781 ,
         9.68101636,  7.26785551,  2.05277368,  1.68473282,  1.55364335,
         6.55645017,  8.22996082,  2.06522467,  0.79635154,  5.04487742,
         6.42359907,  4.46252492,  6.13246709, 10.82421946,  3.81222056,
         2.32035861,  4.0523718 ,  7.33760647,  7.6283071 ,  9.41285573,
        10.58573   ,  8.38738605,  6.18956364,  4.17963317,  1.52579632]),
 array([0.93387496, 1.07111948, 0.88414466, 0.99075204, 0.82281922,
        0.3540226 , 0.76470542, 0.89615197, 0.85647491, 1.126936  ,
        0.77034284, 0.83938289, 0.98085365, 0.35758297, 0.79380793,
        0.98809129, 0.86758341, 0.73310361, 0.82042638, 1.00549835,
        0.47186974, 1.88020848, 0.69727119, 0.57470471, 0.86934027,
        0.72306458, 0.82555301, 0.48714576, 0.59356593, 1.28729673,
        0.91512935, 0.72904357, 0.96841764, 1.25572684, 0.99110436,
        0.77837984, 0.44817677, 0.97839905, 0.83146873, 0.52462862,
        0.86193573, 0.7403072 , 0.95398956, 0.78654411, 0.84990148,
        0.75573437, 0.71535994, 0.48468683, 0.71776634, 0.65539547]))

In [4]:
from sklearn.preprocessing import minmax_scale

processing_time_1 = []
processing_time_2 = []
due_time = []
stage1_machines = []
stage2_machines = []

for i in range(len(t1)):
    
    if (t1[i] / m1[i] > 15):
        continue
        
    
    pt1 = np.random.randint(1, 100, t1[i]) / 10
#     print(pt1)
    pt2 = (np.random.randint(0, 120, t1[i])) / 10 - 2
    
    # make nan probability larger
    pt2[pt2 < 0] = 0
#     print("pt2", pt2)
#     print(pt1 + pt2)
    
    # positive correlation between processing time and due time + error
    # try to lower the possibility of doomed-to-be tardy jobs
    d1 = (pt1 + pt2) * 1.2 + np.random.randn(t1[i]) * 5 + 2
    d1 = d1.round(decimals=1)
    
    # upper and lower bound
    d1[d1 < 1] = 1
    d1[d1 > 24] = 24
    
    
    if (sum(pt1 + pt2) > 1.5 * m1[i] * 24):
        continue
        
    if (sum(pt1 + pt2 > d1) > t1[i] * 0.2):
        continue
    
#     print("d1", d1)
#     print("job num:", t1[i])
#     print("less than:", sum(pt1 + pt2 > d1))
#     print("operation time:", m1[i] * 24)
#     print("due time:", sum(d1))
#     print("process time:", sum(pt1 + pt2))
    
#     plt.scatter(pt1 + pt2, d1)
#     plt.xlabel("total processing time")
#     plt.ylabel("due time");
#     plt.show()
    
    processing_time_1.append(pt1)
    processing_time_2.append(pt2)
    due_time.append(d1)
    
    # machine
    unable = np.random.randint(1, t1[i], int(t1[i] / 3))
    
    stage1_machine = ""
    for m in range(1, m1[i] + 1):
        stage1_machine += str(m) + ","
    stage1_machine = stage1_machine.rstrip(",")
    
    stage2_machine = ""
    for m in range(1, m1[i] + 1):
        if m in unable:
            continue
        stage2_machine += str(m) + ","
    stage2_machine = stage2_machine.rstrip(",")
    
    stage1_machines.append(stage1_machine)
    stage2_machines.append(stage2_machine)
    
#     print("stage 1 machine:", stage1_machine)
#     print("stage 2 machine:", stage2_machine)
    
print(len(due_time))

184

In [5]:
if os.getcwd() != '/Users/wangyanpu/Desktop/台灣大學/大三下/作業研究/case/Case2/testcase':
    os.chdir('/Users/wangyanpu/Desktop/台灣大學/大三下/作業研究/case/Case2/testcase')
if not os.path.exists('testcases'):
    os.makedirs('testcases')

os.chdir("testcases")
os.getcwd()

'/Users/wangyanpu/Desktop/台灣大學/大三下/作業研究/case/Case2/testcase/testcases'

In [7]:
for i in range(len(due_time)):
    df = pd.DataFrame(due_time[i], columns=["Due Time"])
    df["Stage-1 Processing Time"] = processing_time_1[i]
    df["Stage-2 Processing Time"] = processing_time_2[i]
    df["Stage-1 Machines"] = stage1_machines[i]
    df["Stage-2 Machines"] = stage2_machines[i]
    df.index.names = ['Job ID']
    
    no_stage2 = (df["Stage-2 Processing Time"] == 0)
    df.loc[no_stage2, "Stage-2 Machines"] = np.nan
    print(df[no_stage2])   
    
    df.to_csv("instance " + str(i + 1) + ".csv")

        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
3         7.6000                   3.5000                   0.0000
6        11.5000                   4.5000                   0.0000

            Stage-1 Machines Stage-2 Machines
Job ID
3       1,2,3,4,5,6,7,8,9,10              NaN
6       1,2,3,4,5,6,7,8,9,10              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
6        10.6000                   2.4000                   0.0000
17        1.9000                   1.2000                   0.0000
21       12.3000                   8.2000                   0.0000
23       14.9000                   7.5000                   0.0000
28       18.0000                   9.5000                   0.0000
29        8.4000                   9.3000                   0.0000
35       10.0000                   8.1000                   0.0000
39        1.0000                   0.8000                   0.0000
42        1.0000                   6.9000                   0.0000
52        7.9000                   3.4000                   0.0000
59       10.0000                   8.3000                   0.0000

                                 Stage-1 Machines Stage-2 Machines
Job ID
6       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
17      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
21      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
23      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
28      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
29      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
35      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
39      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
42      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
52      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
59      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
3        15.6000                   9.8000                   0.0000
11        7.4000                   4.9000                   0.0000
14        2.0000                   2.9000                   0.0000
21        9.3000                   6.9000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
3       1,2,3,4,5,6,7,8              NaN
11      1,2,3,4,5,6,7,8              NaN
14      1,2,3,4,5,6,7,8              NaN
21      1,2,3,4,5,6,7,8              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0        14.4000                   7.2000                   0.0000

                     Stage-1 Machines Stage-2 Machines
Job ID
0       1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
16        8.1000                   9.0000                   0.0000
18        9.4000                   0.9000                   0.0000
20        6.1000                   7.6000                   0.0000
30       10.8000                   7.2000                   0.0000
36       19.8000                   8.3000                   0.0000

                     Stage-1 Machines Stage-2 Machines
Job ID
16      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
18      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
20      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
30      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
36      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0         5.4000                   6.9000                   0.0000
1         4.0000                   1.0000                   0.0000
13       14.8000                   8.5000                   0.0000

                        Stage-1 Machines Stage-2 Machines
Job ID
0       1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
1       1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
13      1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
1         8.0000                   1.7000                   0.0000
7         1.0000                   2.2000                   0.0000
10        1.0000                   3.9000                   0.0000
19        7.5000                   5.0000                   0.0000
27        5.5000                   5.2000                   0.0000
40        7.9000                   6.4000                   0.0000

                           Stage-1 Machines Stage-2 Machines
Job ID
1       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
7       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
10      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
19      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
27      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
40      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
1        12.8000                   9.2000                   0.0000
12        4.1000                   1.1000                   0.0000
16       17.9000                   8.4000                   0.0000
18        3.1000                   5.2000                   0.0000
20       12.4000                   8.2000                   0.0000
25       11.1000                   5.5000                   0.0000
27        3.8000                   3.6000                   0.0000
29        2.4000                   5.3000                   0.0000

                        Stage-1 Machines Stage-2 Machines
Job ID
1       1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
12      1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
16      1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
18      1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
20      1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
25      1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
27      1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
29      1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0         8.6000                   1.5000                   0.0000
5        11.4000                   6.7000                   0.0000
15        2.0000                   5.0000                   0.0000
16       14.0000                   7.1000                   0.0000

                                    Stage-1 Machines Stage-2 Machines
Job ID
0       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
5       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
15      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
16      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
1         7.2000                   2.4000                   0.0000
4         8.0000                   5.9000                   0.0000

                              Stage-1 Machines Stage-2 Machines
Job ID
1       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
4       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
2        13.7000                   9.3000                   0.0000
8         1.0000                   2.0000                   0.0000
10        7.4000                   8.6000                   0.0000
23       13.2000                   9.5000                   0.0000
26        7.4000                   4.4000                   0.0000
35        5.1000                   0.4000                   0.0000

               Stage-1 Machines Stage-2 Machines
Job ID
2       1,2,3,4,5,6,7,8,9,10,11              NaN
8       1,2,3,4,5,6,7,8,9,10,11              NaN
10      1,2,3,4,5,6,7,8,9,10,11              NaN
23      1,2,3,4,5,6,7,8,9,10,11              NaN
26      1,2,3,4,5,6,7,8,9,10,11              NaN
35      1,2,3,4,5,6,7,8,9,10,11              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
3         1.5000                   1.3000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
3                   1,2              NaN
Empty DataFrame
Columns: [Due Time, Stage-1 Processing Time, Stage-2 Processing Time, Stage-1 Machines, Stage-2 Machines]
Index: []
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
1        20.9000                   8.6000                   0.0000
4        15.0000                   7.6000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
1               1,2,3,4              NaN
4               1,2,3,4              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
14        4.0000                   2.5000                   0.0000

               Stage-1 Machines Stage-2 Machines
Job ID
14      1,2,3,4,5,6,7,8,9,10,11              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
8        12.0000                   9.1000                   0.0000
9        17.2000                   4.2000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
8             1,2,3,4,5              NaN
9             1,2,3,4,5              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
4        14.2000                   4.3000                   0.0000
5        10.7000                   7.8000                   0.0000
9         1.0000                   4.3000                   0.0000
14        4.6000                   4.0000                   0.0000
20        9.2000                   7.3000                   0.0000
22       11.5000                   5.5000                   0.0000
30        2.8000                   2.2000                   0.0000
33        1.0000                   6.9000                   0.0000
35        5.7000                   6.6000                   0.0000
40       14.5000                   4.3000                   0.0000
41        1.0000                   1.2000                   0.0000
43       13.2000                   8.2000                   0.0000
44        8.6000                   0.7000                   0.0000
45        5.8000                   9.7000                   0.0000
46        4.8000                   0.6000                   0.0000
54        5.3000                   2.3000                   0.0000
58       13.6000                   7.3000                   0.0000

                           Stage-1 Machines Stage-2 Machines
Job ID
4       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
5       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
9       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
14      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
20      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
22      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
30      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
33      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
35      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
40      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
41      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
43      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
44      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
45      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
46      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
54      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
58      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
6        17.1000                   9.1000                   0.0000
12        1.0000                   4.8000                   0.0000
13       12.6000                   8.0000                   0.0000

                        Stage-1 Machines Stage-2 Machines
Job ID
6       1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
12      1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
13      1,2,3,4,5,6,7,8,9,10,11,12,13,14              NaN
Empty DataFrame
Columns: [Due Time, Stage-1 Processing Time, Stage-2 Processing Time, Stage-1 Machines, Stage-2 Machines]
Index: []
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
7        10.2000                   4.8000                   0.0000
9        10.1000                   5.7000                   0.0000
16        6.6000                   5.5000                   0.0000
17        9.6000                   4.1000                   0.0000
26        1.3000                   1.9000                   0.0000
30       14.8000                   9.3000                   0.0000
31        9.1000                   1.0000                   0.0000

               Stage-1 Machines Stage-2 Machines
Job ID
7       1,2,3,4,5,6,7,8,9,10,11              NaN
9       1,2,3,4,5,6,7,8,9,10,11              NaN
16      1,2,3,4,5,6,7,8,9,10,11              NaN
17      1,2,3,4,5,6,7,8,9,10,11              NaN
26      1,2,3,4,5,6,7,8,9,10,11              NaN
30      1,2,3,4,5,6,7,8,9,10,11              NaN
31      1,2,3,4,5,6,7,8,9,10,11              NaN
Empty DataFrame
Columns: [Due Time, Stage-1 Processing Time, Stage-2 Processing Time, Stage-1 Machines, Stage-2 Machines]
Index: []
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
5         1.0000                   0.4000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
5             1,2,3,4,5              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
2        10.3000                   5.7000                   0.0000
6         4.4000                   2.6000                   0.0000
13       15.7000                   7.2000                   0.0000
14       13.9000                   9.3000                   0.0000
15       11.3000                   7.4000                   0.0000
17       20.2000                   8.8000                   0.0000
19        6.8000                   8.1000                   0.0000
23        3.2000                   8.8000                   0.0000
29        2.9000                   1.6000                   0.0000
36        5.3000                   2.3000                   0.0000
46       13.3000                   3.9000                   0.0000

                     Stage-1 Machines Stage-2 Machines
Job ID
2       1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
6       1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
13      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
14      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
15      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
17      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
19      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
23      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
29      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
36      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
46      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
2        13.6000                   8.9000                   0.0000
7        12.7000                   7.8000                   0.0000
10       20.4000                   8.3000                   0.0000
25        3.7000                   2.6000                   0.0000
38       15.1000                   8.6000                   0.0000
44        1.0000                   4.5000                   0.0000

                     Stage-1 Machines Stage-2 Machines
Job ID
2       1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
7       1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
10      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
25      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
38      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
44      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
Empty DataFrame
Columns: [Due Time, Stage-1 Processing Time, Stage-2 Processing Time, Stage-1 Machines, Stage-2 Machines]
Index: []
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0         7.0000                   2.0000                   0.0000

                                       Stage-1 Machines Stage-2 Machines
Job ID
0       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
2         7.4000                   4.1000                   0.0000
8        10.6000                   5.6000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
2       1,2,3,4,5,6,7,8              NaN
8       1,2,3,4,5,6,7,8              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
11        2.9000                   0.6000                   0.0000

                     Stage-1 Machines Stage-2 Machines
Job ID
11      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
14       20.3000                   6.5000                   0.0000
19       21.7000                   9.7000                   0.0000

            Stage-1 Machines Stage-2 Machines
Job ID
14      1,2,3,4,5,6,7,8,9,10              NaN
19      1,2,3,4,5,6,7,8,9,10              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
12       15.2000                   8.7000                   0.0000
14        2.6000                   2.9000                   0.0000

            Stage-1 Machines Stage-2 Machines
Job ID
12      1,2,3,4,5,6,7,8,9,10              NaN
14      1,2,3,4,5,6,7,8,9,10              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0         8.2000                   8.6000                   0.0000
5         4.9000                   2.8000                   0.0000
24       11.1000                   3.7000                   0.0000
26        5.1000                   4.8000                   0.0000
27        1.0000                   2.9000                   0.0000
31       10.7000                   9.3000                   0.0000
35        1.0000                   4.0000                   0.0000

                                    Stage-1 Machines Stage-2 Machines
Job ID
0       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
5       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
24      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
26      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
27      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
31      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
35      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0         6.1000                   5.6000                   0.0000
1        19.8000                   7.0000                   0.0000
7        16.7000                   2.8000                   0.0000
11       12.0000                   3.1000                   0.0000
18        8.7000                   2.7000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
0         1,2,3,4,5,6,7              NaN
1         1,2,3,4,5,6,7              NaN
7         1,2,3,4,5,6,7              NaN
11        1,2,3,4,5,6,7              NaN
18        1,2,3,4,5,6,7              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
4         1.0000                   2.5000                   0.0000
7        12.5000                   1.7000                   0.0000
11        8.4000                   0.4000                   0.0000
13        8.4000                   6.0000                   0.0000
14        1.0000                   0.9000                   0.0000

        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0        24.0000                   9.9000                   0.0000

            Stage-1 Machines Stage-2 Machines
Job ID
0       1,2,3,4,5,6,7,8,9,10              NaN
Empty DataFrame
Columns: [Due Time, Stage-1 Processing Time, Stage-2 Processing Time, Stage-1 Machines, Stage-2 Machines]
Index: []
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
5        11.4000                   8.7000                   0.0000
6         1.0000                   3.8000                   0.0000
25        1.0000                   0.7000                   0.0000

               Stage-1 Machines Stage-2 Machines
Job ID
5       1,2,3,4,5,6,7,8,9,10,11              NaN
6       1,2,3,4,5,6,7,8,9,10,11              NaN
25      1,2,3,4,5,6,7,8,9,10,11              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
3         9.0000                   4.7000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
3                   1,2              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0         5.1000                   6.9000                   0.0000
3        10.7000                   1.0000                   0.0000
12       11.8000                   9.8000                   0.0000
13        5.9000                   1.4000                   0.0000
25       12.5000                   7.2000                   0.0000
30        8.6000                   3.5000                   0.0000
41        2.1000                   6.1000                   0.0000
42       10.5000                   4.9000                   0.0000
47       11.5000                   6.6000                   0.0000
53       10.3000                   7.6000                   0.0000
55        1.0000                   2.1000                   0.0000

                           Stage-1 Machines Stage-2 Machines
Job ID
0       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
3       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
12      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
13      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
25      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
30      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
41      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
42      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
47      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
53      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
55      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
3        12.2000                   2.8000                   0.0000
14       15.2000                   2.3000                   0.0000
16        1.0000                   2.0000                   0.0000
20        7.2000                   2.0000                   0.0000
22       18.0000                   6.9000                   0.0000
26       15.1000                   6.6000                   0.0000
27        7.2000                   7.4000                   0.0000
41        7.4000                   4.3000                   0.0000
43       11.6000                   3.9000                   0.0000
45        8.8000                   2.2000                   0.0000

                                       Stage-1 Machines Stage-2 Machines
Job ID
3       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
14      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
16      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
20      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
22      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
26      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
27      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
41      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
43      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
45      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0         5.0000                   2.8000                   0.0000
4        17.5000                   8.3000                   0.0000
15        7.3000                   7.0000                   0.0000
30        2.3000                   3.1000                   0.0000

                              Stage-1 Machines Stage-2 Machines
Job ID
0       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
4       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
15      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
30      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
2         5.5000                   1.5000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
2           1,2,3,4,5,6              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
3        10.6000                   9.0000                   0.0000
19       12.4000                   6.6000                   0.0000
28        4.0000                   7.1000                   0.0000

                           Stage-1 Machines Stage-2 Machines
Job ID
3       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
19      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
28      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
1         9.7000                   4.2000                   0.0000

            Stage-1 Machines Stage-2 Machines
Job ID
1       1,2,3,4,5,6,7,8,9,10              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
7         7.2000                   7.4000                   0.0000
8        11.0000                   5.2000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
7         1,2,3,4,5,6,7              NaN
8         1,2,3,4,5,6,7              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
2         1.0000                   1.9000                   0.0000
12        1.7000                   1.1000                   0.0000

                                    Stage-1 Machines Stage-2 Machines
Job ID
2       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
12      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
4         5.7000                   0.8000                   0.0000
7         4.6000                   1.2000                   0.0000
18        6.0000                   7.3000                   0.0000
26        9.7000                   6.5000                   0.0000
30       11.8000                   5.8000                   0.0000

                     Stage-1 Machines Stage-2 Machines
Job ID
4       1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
7       1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
18      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
26      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
30      1,2,3,4,5,6,7,8,9,10,11,12,13              NaN
Empty DataFrame
Columns: [Due Time, Stage-1 Processing Time, Stage-2 Processing Time, Stage-1 Machines, Stage-2 Machines]
Index: []
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
14        3.4000                   1.9000                   0.0000
19       14.3000                   8.5000                   0.0000
28        7.5000                   3.0000                   0.0000
31       20.4000                   7.3000                   0.0000
35        9.7000                   3.7000                   0.0000
47       21.9000                   9.6000                   0.0000
48       15.4000                   8.9000                   0.0000

                                 Stage-1 Machines Stage-2 Machines
Job ID
14      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
19      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
28      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
31      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
35      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
47      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
48      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
1        12.6000                   5.7000                   0.0000
2         2.9000                   1.9000                   0.0000
6         9.5000                   7.3000                   0.0000
14       16.5000                   5.8000                   0.0000

         Stage-1 Machines Stage-2 Machines
Job ID
1       1,2,3,4,5,6,7,8,9              NaN
2       1,2,3,4,5,6,7,8,9              NaN
6       1,2,3,4,5,6,7,8,9              NaN
14      1,2,3,4,5,6,7,8,9              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
2         3.8000                   2.4000                   0.0000
3        10.4000                   3.0000                   0.0000
7         5.8000                   2.7000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
2           1,2,3,4,5,6              NaN
3           1,2,3,4,5,6              NaN
7           1,2,3,4,5,6              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
14        6.7000                   0.6000                   0.0000
15        6.3000                   5.9000                   0.0000
16       10.2000                   0.9000                   0.0000
22        9.5000                   3.4000                   0.0000

                                 Stage-1 Machines Stage-2 Machines
Job ID
14      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
15      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
16      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
22      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
16       10.5000                   8.7000                   0.0000
23        5.5000                   3.3000                   0.0000
25        2.9000                   2.5000                   0.0000

         Stage-1 Machines Stage-2 Machines
Job ID
16      1,2,3,4,5,6,7,8,9              NaN
23      1,2,3,4,5,6,7,8,9              NaN
25      1,2,3,4,5,6,7,8,9              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
6        10.3000                   8.2000                   0.0000
11        5.3000                   5.3000                   0.0000
12        5.7000                   8.0000                   0.0000
27        2.3000                   3.5000                   0.0000
28        1.6000                   4.5000                   0.0000
32       16.5000                   8.8000                   0.0000
33        5.1000                   9.7000                   0.0000
36       11.8000                   9.6000                   0.0000
37       16.2000                   8.0000                   0.0000
40       14.5000                   6.9000                   0.0000
42       10.5000                   7.2000                   0.0000
44       14.7000                   9.0000                   0.0000

                              Stage-1 Machines Stage-2 Machines
Job ID
6       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
11      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
12      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
27      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
28      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
32      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
33      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
36      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
37      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
40      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
42      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
44      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
5         7.2000                   5.0000                   0.0000
9         1.0000                   1.5000                   0.0000
17        8.7000                   8.1000                   0.0000
19       12.6000                   4.9000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
5       1,2,3,4,5,6,7,8              NaN
9       1,2,3,4,5,6,7,8              NaN
17      1,2,3,4,5,6,7,8              NaN
19      1,2,3,4,5,6,7,8              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
1         7.9000                   6.6000                   0.0000

               Stage-1 Machines Stage-2 Machines
Job ID
1       1,2,3,4,5,6,7,8,9,10,11              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
5        19.9000                   4.6000                   0.0000
9         3.8000                   7.3000                   0.0000
11        5.0000                   0.6000                   0.0000
12       12.3000                   0.5000                   0.0000
15        2.8000                   7.0000                   0.0000
17        4.7000                   0.9000                   0.0000
22       15.6000                   9.6000                   0.0000
34       12.2000                   6.1000                   0.0000
35       13.1000                   6.0000                   0.0000
42        9.4000                   0.3000                   0.0000
44       16.6000                   9.0000                   0.0000
57        5.6000                   0.9000                   0.0000

                                 Stage-1 Machines Stage-2 Machines
Job ID
5       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
9       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
11      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
12      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
15      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
17      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
22      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
34      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
35      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
42      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
44      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
57      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
5         3.8000                   2.6000                   0.0000
14       13.3000                   7.9000                   0.0000
16       13.5000                   6.6000                   0.0000
17        1.0000                   2.5000                   0.0000
19        5.2000                   0.9000                   0.0000
20        1.0000                   1.6000                   0.0000

                                 Stage-1 Machines Stage-2 Machines
Job ID
5       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
14      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
16      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
17      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
19      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
20      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17              NaN
Empty DataFrame
Columns: [Due Time, Stage-1 Processing Time, Stage-2 Processing Time, Stage-1 Machines, Stage-2 Machines]
Index: []
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0         6.6000                   3.3000                   0.0000
2        12.2000                   2.8000                   0.0000

       Stage-1 Machines Stage-2 Machines
Job ID
0             1,2,3,4,5              NaN
2             1,2,3,4,5              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
6         1.0000                   5.6000                   0.0000

                  Stage-1 Machines Stage-2 Machines
Job ID
6       1,2,3,4,5,6,7,8,9,10,11,12              NaN
Empty DataFrame
Columns: [Due Time, Stage-1 Processing Time, Stage-2 Processing Time, Stage-1 Machines, Stage-2 Machines]
Index: []
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
6        10.1000                   1.3000                   0.0000
10       15.4000                   8.6000                   0.0000
14        1.0000                   0.2000                   0.0000
16        6.2000                   1.9000                   0.0000

         Stage-1 Machines Stage-2 Machines
Job ID
6       1,2,3,4,5,6,7,8,9              NaN
10      1,2,3,4,5,6,7,8,9              NaN
14      1,2,3,4,5,6,7,8,9              NaN
16      1,2,3,4,5,6,7,8,9              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
9         8.7000                   3.0000                   0.0000
10       13.8000                   2.2000                   0.0000
13        4.5000                   4.0000                   0.0000
17        1.0000                   3.9000                   0.0000

         Stage-1 Machines Stage-2 Machines
Job ID
9       1,2,3,4,5,6,7,8,9              NaN
10      1,2,3,4,5,6,7,8,9              NaN
13      1,2,3,4,5,6,7,8,9              NaN
17      1,2,3,4,5,6,7,8,9              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
5         8.8000                   4.9000                   0.0000
15        5.5000                   8.3000                   0.0000
20       10.5000                   6.6000                   0.0000
23        7.8000                   1.4000                   0.0000
29        1.0000                   5.9000                   0.0000
30       11.6000                   9.3000                   0.0000
35       15.5000                   6.1000                   0.0000

                                    Stage-1 Machines Stage-2 Machines
Job ID
5       1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
15      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
20      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
23      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
29      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
30      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
35      1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
2         8.4000                   6.5000                   0.0000
5         5.4000                   9.6000                   0.0000
14        3.2000                   1.4000                   0.0000
16        5.4000                   1.6000                   0.0000

               Stage-1 Machines Stage-2 Machines
Job ID
2       1,2,3,4,5,6,7,8,9,10,11              NaN
5       1,2,3,4,5,6,7,8,9,10,11              NaN
14      1,2,3,4,5,6,7,8,9,10,11              NaN
16      1,2,3,4,5,6,7,8,9,10,11              NaN
        Due Time  Stage-1 Processing Time  Stage-2 Processing Time  \
Job ID
0         6.3000                   7.7000                   0.0000
2         6.8000                   4.3000                   0.0000